workflows/semi-auto/semi-auto-final.json
{
  "name": "My workflow 11 \u2014 FIXED",
  "nodes": [
    {
      "parameters": {
        "content": "\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n  CENTRAL WORKFLOW \u2014 SEMI-AUTONOMOUS v9  |  AI-Workflow-Nutrition\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\nMode : Semi-autonome  |  LLM : Ollama llama3 local  |  3 checkpoints humains\nChaque \u00e9tape g\u00e9n\u00e8re un rapport TXT lisible  |  Contexte transmis entre chaque \u00e9tape\n\u00c9tapes : Design Thinking \u2192 Architecture \u2192 Production \u2192 Test \u2192 S\u00e9curit\u00e9 \u2192 D\u00e9ploiement \u2192 ZIP Final\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501",
        "height": 140,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "2ce81453-1d13-4e16-9b07-96c7b5bde927",
      "name": "Header"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "22059248-7e2b-4703-9aa5-3990c977a52c",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "project_name",
              "value": "AI-Workflow-Nutrition",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "workflow_mode",
              "value": "semi_autonomous_lifecycle",
              "type": "string"
            },
            {
              "id": "g3",
              "name": "ollama_url",
              "value": "http://host.docker.internal:11434/api/generate",
              "type": "string"
            },
            {
              "id": "g4",
              "name": "ollama_model",
              "value": "llama3:latest",
              "type": "string"
            },
            {
              "id": "g5",
              "name": "blv_api_base_url",
              "value": "https://api.webapp.prod.blv.foodcase-services.com/BLV_WebApp_WS/webresources/BLV-api",
              "type": "string"
            },
            {
              "id": "g6",
              "name": "context",
              "value": "={}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        208
      ],
      "id": "b0588b46-d080-42ca-a73a-ea42e6de96b7",
      "name": "Set Global Lifecycle Context"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502    Design Thinking  |  Vision, personas, probl\u00e8mes, user stories nutrition, contraintes                           \u2502\n\u2502  Focus : app nutrition r\u00e9elle \u2014 saisie repas, analyse Ollama, API BLV, calcul nutritionnel                          \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 90,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        320
      ],
      "typeVersion": 1,
      "id": "3eac1652-a336-449d-8182-bcd314948ce8",
      "name": "Note Design Thinking"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dtp1",
              "name": "prompt",
              "value": "=AI-Workflow-Nutrition. FULL CENTRALIZED n8n workflow.\nThe central workflow automates the full project lifecycle for a real nutrition application.\nCRITICAL: all generated content must focus on the real nutrition application, not on lifecycle steps.\nDo NOT create user stories for Design Thinking, Azure Pipelines, Security, Deployment or Maintenance.\nCreate user stories for the nutrition app runtime only: meal input, parsing with Ollama, quantity normalization, BLV food matching, ambiguity handling, official nutrient retrieval, deterministic calculation, final JSON, downloadable TXT report.\n\nTask: Generate Design Thinking output for the AI-Workflow-Nutrition project.\nReturn strict JSON only. No markdown. No code fences.\n\nExpected JSON: {\"project_name\": \"AI-Workflow-Nutrition\", \"problem_statement\": \"\", \"target_users\": [], \"personas\": [{\"name\": \"\", \"role\": \"\", \"needs\": [], \"pain_points\": []}], \"user_stories\": [{\"id\": \"US-01\", \"title\": \"\", \"as_a\": \"\", \"i_want\": \"\", \"so_that\": \"\", \"acceptance_criteria\": []}], \"constraints\": [], \"success_metrics\": [], \"design_principles\": []}\n\nProject: {{$json.project_name}}\nBLV API: {{$json.blv_api_base_url}}\nOllama: {{$json.ollama_url}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        208
      ],
      "id": "5cbbac31-e555-4815-8b55-b71fa94a1124",
      "name": "Set Design Thinking Prompt"
    },
    {
      "parameters": {
        "jsCode": "function parseOllama(input) {\n  // Try $json.response first (format:json mode)\n  const sources = [input.response, input.data, JSON.stringify(input)];\n  for (const src of sources) {\n    if (!src) continue;\n    const text = typeof src === 'string' ? src : JSON.stringify(src);\n    // Try direct parse\n    try {\n      const d = JSON.parse(text);\n      if (d && typeof d === 'object' && !d.model && !d.done) return d;\n    } catch(e) {}\n    // Try stream reconstruction\n    try {\n      const lines = text.split('\\n').map(l => l.trim()).filter(Boolean);\n      let rec = '';\n      for (const l of lines) {\n        try { const o = JSON.parse(l); if (typeof o.response === 'string') rec += o.response; } catch(e) {}\n      }\n      if (rec) {\n        rec = rec.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n        const s = rec.indexOf('{'); const e = rec.lastIndexOf('}');\n        if (s !== -1 && e !== -1) return JSON.parse(rec.slice(s, e+1));\n      }\n    } catch(e) {}\n  }\n  throw new Error('Could not parse Ollama response');\n}\n\nconst ctx = $json.context || {};\ntry {\n  const parsed = parseOllama($json);\n  return [{ json: { ...$json, data: parsed, context: ctx } }];\n} catch(err) {\n  return [{ json: { ...$json, data: {}, context: ctx, parse_error: err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        208
      ],
      "id": "b24fc646-4c8c-4701-890a-9351b24b8e6b",
      "name": "Parse Design Thinking JSON"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst data = input.data || {};\nlet txt = '='.repeat(60) + '\\n';\ntxt += 'AI-Workflow-Nutrition \u2014 Design Thinking Report\\n';\ntxt += '='.repeat(60) + '\\n\\n';\ntxt += 'Probl\u00e8me : ' + (data.problem_statement || '\u2014') + '\\n\\n';\ntxt += 'Utilisateurs cibles :\\n';\n(data.target_users || []).forEach(u => txt += '  - ' + u + '\\n');\ntxt += '\\nUser Stories :\\n';\n(data.user_stories || []).forEach(us => {\n  txt += '  ' + (us.id||'') + ' : ' + (us.title||us.i_want||'') + '\\n';\n  txt += '    En tant que : ' + (us.as_a||'') + '\\n';\n  txt += '    Je veux : ' + (us.i_want||'') + '\\n';\n  txt += '    Afin de : ' + (us.so_that||'') + '\\n\\n';\n});\ntxt += 'Contraintes :\\n';\n(data.constraints || []).forEach(c => txt += '  - ' + c + '\\n');\ntxt += '\\n' + '='.repeat(60) + '\\n';\nreturn [{ json: { ...input, design_thinking_report: txt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        208
      ],
      "id": "a8ab7075-56ed-4bbd-bb3a-3f2b0fbd3f3b",
      "name": "Create Design Thinking TXT Report"
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.context || {};\nprev.design = $json.data || {};\nreturn [{ json: { ...$json, context: prev } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        208
      ],
      "id": "bfcf0129-7203-4da9-ad14-26cfbfe72353",
      "name": "Carry Design Context"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst data = d.data || {};\nconst report = d.design_thinking_report || '';\nlet summary = '='.repeat(60) + '\\n';\nsummary += '\ufe0f  CHECKPOINT #1 \u2014 DESIGN THINKING\\n';\nsummary += '='.repeat(60) + '\\n';\nsummary += 'Probl\u00e8me : ' + (data.problem_statement || '\u2014') + '\\n';\nsummary += 'Stories  : ' + (data.user_stories || []).length + ' g\u00e9n\u00e9r\u00e9es\\n';\nsummary += 'Personas : ' + (data.personas || []).map(p => p.name).join(', ') + '\\n';\nsummary += '-'.repeat(60) + '\\n';\nsummary += ' Rapport TXT disponible dans : Create Design Thinking TXT Report > Output > design_thinking_report\\n';\nsummary += '-'.repeat(60) + '\\n';\nsummary += ' Pour APPROUVER, lancez :\\n\\n';\nsummary += 'Invoke-WebRequest -Uri \"http://localhost:5678/webhook-waiting/' + ($execution?.id || 'X') + '/design-approval?signature=VOTRE_SIGNATURE\" -Method GET -UseBasicParsing\\n';\nsummary += '='.repeat(60);\nreturn [{ json: { ...d, checkpoint_summary: summary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        208
      ],
      "id": "a7423ac8-a9fa-4685-ad5f-887f48c4607b",
      "name": "Checkpoint 1 Summary"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502  \ufe0f  CHECKPOINT #1 \u2014 DESIGN THINKING  |  Lisez Checkpoint 1 Summary > Output > checkpoint_summary                  \u2502\n\u2502  Copiez la commande PowerShell et remplacez VOTRE_SIGNATURE par la valeur du n\u0153ud WAIT                              \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 90,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        448
      ],
      "typeVersion": 1,
      "id": "1ad108b1-157e-4a06-bb68-0c2ee9955c8a",
      "name": "Note CP1"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "design-approval",
          "limitWaitTime": true,
          "limitType": "afterTimeInterval",
          "resumeAmount": 24,
          "resumeUnit": "hours"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        544
      ],
      "id": "e1e19817-181f-4010-9e8b-d266b5a7bed7",
      "name": "WAIT \u2014 Approve Design",
      "webhookId": "d95eb12c-bb6e-45ee-9d3f-aca012e30994"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502  \ufe0f  Architecture  |  Structure technique n8n, modules, flux de donn\u00e9es, API BLV, Ollama local                     \u2502\n\u2502  Contexte Design Thinking transmis automatiquement                                                                   \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 90,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        672
      ],
      "typeVersion": 1,
      "id": "ec1e11ad-5280-4f79-bafa-46674864909c",
      "name": "Note Architecture"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ap1",
              "name": "prompt",
              "value": "=AI-Workflow-Nutrition. FULL CENTRALIZED n8n workflow.\nCRITICAL: Focus on the real nutrition application architecture only.\nOllama = parsing/reasoning ONLY. Nutrition values = BLV API ONLY.\nBLV API: https://api.webapp.prod.blv.foodcase-services.com/BLV_WebApp_WS/webresources/BLV-api\n\nTask: Generate global technical architecture for the nutrition app.\nUse ONLY real n8n node types: Manual Trigger, Set/Edit Fields, HTTP Request, Code, Split Out, Merge, Switch, Sticky Note.\n\nReturn strict JSON only. No markdown. No code fences.\n\nExpected JSON: {\"architecture_style\": \"\", \"runtime_pipeline\": [{\"step\": \"\", \"description\": \"\", \"n8n_node_type\": \"\"}], \"components\": [{\"name\": \"\", \"role\": \"\", \"type\": \"\"}], \"data_flow\": [], \"integration_contracts\": {\"ollama\": {\"url\": \"http://host.docker.internal:11434/api/generate\", \"usage\": \"parsing only\"}, \"blv_api\": {\"base_url\": \"https://api.webapp.prod.blv.foodcase-services.com/BLV_WebApp_WS/webresources/BLV-api\", \"endpoints\": []}}, \"risks\": []}\n\nDesign summary: {{$json.design_thinking_report}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        832
      ],
      "id": "cd667c64-4e64-46fa-8c8b-94a53d92089a",
      "name": "Set Architecture Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        832
      ],
      "id": "19368e06-59d8-4ac8-8cd1-fac48a178f5f",
      "name": "Call Ollama Architecture"
    },
    {
      "parameters": {
        "jsCode": "function parseOllama(input) {\n  // Try $json.response first (format:json mode)\n  const sources = [input.response, input.data, JSON.stringify(input)];\n  for (const src of sources) {\n    if (!src) continue;\n    const text = typeof src === 'string' ? src : JSON.stringify(src);\n    // Try direct parse\n    try {\n      const d = JSON.parse(text);\n      if (d && typeof d === 'object' && !d.model && !d.done) return d;\n    } catch(e) {}\n    // Try stream reconstruction\n    try {\n      const lines = text.split('\\n').map(l => l.trim()).filter(Boolean);\n      let rec = '';\n      for (const l of lines) {\n        try { const o = JSON.parse(l); if (typeof o.response === 'string') rec += o.response; } catch(e) {}\n      }\n      if (rec) {\n        rec = rec.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n        const s = rec.indexOf('{'); const e = rec.lastIndexOf('}');\n        if (s !== -1 && e !== -1) return JSON.parse(rec.slice(s, e+1));\n      }\n    } catch(e) {}\n  }\n  throw new Error('Could not parse Ollama response');\n}\n\nconst ctx = $json.context || {};\ntry {\n  const parsed = parseOllama($json);\n  return [{ json: { ...$json, data: parsed, context: ctx } }];\n} catch(err) {\n  return [{ json: { ...$json, data: {}, context: ctx, parse_error: err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        832
      ],
      "id": "f6a26bd7-b393-4f6a-9a61-d16eeb4f0b89",
      "name": "Parse Architecture JSON"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst data = input.data || {};\nlet txt = '='.repeat(60) + '\\n';\ntxt += 'AI-Workflow-Nutrition \u2014 Architecture Report\\n';\ntxt += '='.repeat(60) + '\\n\\n';\ntxt += 'Style : ' + (data.architecture_style || '\u2014') + '\\n\\n';\ntxt += 'Pipeline runtime :\\n';\n(data.runtime_pipeline || []).forEach((s, i) => {\n  txt += '  ' + (i+1) + '. ' + (s.step||'') + ' \u2014 ' + (s.description||'') + '\\n';\n  if (s.n8n_node_type) txt += '     Node : ' + s.n8n_node_type + '\\n';\n});\ntxt += '\\nComposants :\\n';\n(data.components || []).forEach(c => txt += '  - ' + (c.name||'') + ' : ' + (c.role||'') + '\\n');\ntxt += '\\nRisques :\\n';\n(data.risks || []).forEach(r => txt += '  \ufe0f ' + r + '\\n');\ntxt += '\\n' + '='.repeat(60) + '\\n';\nreturn [{ json: { ...input, architecture_report: txt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        832
      ],
      "id": "17d44122-5cd0-4e22-95b1-3cd66e7d8190",
      "name": "Create Architecture TXT Report"
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.context || {};\nprev.architecture = $json.data || {};\nreturn [{ json: { ...$json, context: prev } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        832
      ],
      "id": "ea204161-3044-4dff-a674-4b3791a06b95",
      "name": "Carry Architecture Context"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502  \ufe0f  Production  |  Specs frontend, backend, API BLV food matching, Ollama parsing, code structure                  \u2502\n\u2502  R\u00c8GLE : Ollama = parsing/raisonnement uniquement. Valeurs nutritionnelles = API BLV uniquement                     \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 90,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        960
      ],
      "typeVersion": 1,
      "id": "c9bb7922-7c56-4434-91ea-44331981f2fb",
      "name": "Note Production"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pp1",
              "name": "prompt",
              "value": "=AI-Workflow-Nutrition. FULL CENTRALIZED n8n workflow.\nCRITICAL: Focus on real nutrition app production specs only.\nDo NOT invent BLV endpoints or nutrition values.\nOllama = parsing/reasoning ONLY. Nutrition values = BLV API ONLY.\nBLV API base: https://api.webapp.prod.blv.foodcase-services.com/BLV_WebApp_WS/webresources/BLV-api\n\nTask: Generate production specs for each nutrition app user story.\nKeep each spec concise. Max 3 items per array.\n\nReturn strict JSON only. No markdown. No code fences.\n\nExpected JSON: {\"production_specs\": [{\"user_story_id\": \"\", \"frontend_spec\": {\"component\": \"\", \"inputs\": [], \"outputs\": []}, \"backend_spec\": {\"logic\": \"\", \"n8n_nodes\": []}, \"ollama_usage\": {\"purpose\": \"\", \"prompt_template\": \"\"}, \"blv_api_calls\": [{\"endpoint\": \"\", \"method\": \"\", \"params\": {}}]}], \"app_structure\": {\"entry_point\": \"\", \"main_workflow\": \"\"}}\n\nArchitecture summary: {{$json.architecture_report}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        1120
      ],
      "id": "5f672d54-7080-44d7-a654-f55799b91190",
      "name": "Set Production Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        1120
      ],
      "id": "e1096802-bf75-4616-9ce4-9d9787104f5e",
      "name": "Call Ollama Production"
    },
    {
      "parameters": {
        "jsCode": "function parseOllama(input) {\n  // Try $json.response first (format:json mode)\n  const sources = [input.response, input.data, JSON.stringify(input)];\n  for (const src of sources) {\n    if (!src) continue;\n    const text = typeof src === 'string' ? src : JSON.stringify(src);\n    // Try direct parse\n    try {\n      const d = JSON.parse(text);\n      if (d && typeof d === 'object' && !d.model && !d.done) return d;\n    } catch(e) {}\n    // Try stream reconstruction\n    try {\n      const lines = text.split('\\n').map(l => l.trim()).filter(Boolean);\n      let rec = '';\n      for (const l of lines) {\n        try { const o = JSON.parse(l); if (typeof o.response === 'string') rec += o.response; } catch(e) {}\n      }\n      if (rec) {\n        rec = rec.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n        const s = rec.indexOf('{'); const e = rec.lastIndexOf('}');\n        if (s !== -1 && e !== -1) return JSON.parse(rec.slice(s, e+1));\n      }\n    } catch(e) {}\n  }\n  throw new Error('Could not parse Ollama response');\n}\n\nconst ctx = $json.context || {};\ntry {\n  const parsed = parseOllama($json);\n  return [{ json: { ...$json, data: parsed, context: ctx } }];\n} catch(err) {\n  return [{ json: { ...$json, data: {}, context: ctx, parse_error: err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1120
      ],
      "id": "eac31ab7-592f-4761-99ac-6d4cd3df5b9d",
      "name": "Parse Production JSON"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst data = input.data || {};\nlet txt = '='.repeat(60) + '\\n';\ntxt += 'AI-Workflow-Nutrition \u2014 Production Report\\n';\ntxt += '='.repeat(60) + '\\n\\n';\n(data.production_specs || []).forEach(spec => {\n  txt += 'User Story : ' + (spec.user_story_id || '\u2014') + '\\n';\n  txt += 'Frontend : ' + (spec.frontend_spec?.component || '\u2014') + '\\n';\n  txt += 'Ollama usage : ' + (spec.ollama_usage?.purpose || '\u2014') + '\\n';\n  txt += 'BLV API calls : ' + (spec.blv_api_calls || []).length + '\\n';\n  txt += '\\n';\n});\nif (data.app_structure) {\n  txt += 'Entry point : ' + (data.app_structure.entry_point || '\u2014') + '\\n';\n  txt += 'Main workflow : ' + (data.app_structure.main_workflow || '\u2014') + '\\n';\n}\ntxt += '\\n' + '='.repeat(60) + '\\n';\nreturn [{ json: { ...input, production_report: txt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1120
      ],
      "id": "a2bf3287-9f00-42c1-a118-b921a08baa50",
      "name": "Create Production TXT Report"
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.context || {};\nprev.production = $json.data || {};\nreturn [{ json: { ...$json, context: prev } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1120
      ],
      "id": "e0183949-c336-46f2-bea8-ea096b7e9323",
      "name": "Carry Production Context"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst data = d.data || {};\nlet summary = '='.repeat(60) + '\\n';\nsummary += '\ufe0f  CHECKPOINT #2 \u2014 PRODUCTION\\n';\nsummary += '='.repeat(60) + '\\n';\nsummary += 'Specs g\u00e9n\u00e9r\u00e9es : ' + (data.production_specs || []).length + '\\n';\nsummary += 'App entry point : ' + (data.app_structure?.entry_point || '\u2014') + '\\n';\nsummary += '-'.repeat(60) + '\\n';\nsummary += ' Rapport TXT disponible dans : Create Production TXT Report > Output > production_report\\n';\nsummary += '-'.repeat(60) + '\\n';\nsummary += ' Pour APPROUVER, lancez :\\n\\n';\nsummary += 'Invoke-WebRequest -Uri \"http://localhost:5678/webhook-waiting/' + ($execution?.id || 'X') + '/production-approval?signature=VOTRE_SIGNATURE\" -Method GET -UseBasicParsing\\n';\nsummary += '='.repeat(60);\nreturn [{ json: { ...d, checkpoint_summary: summary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1120
      ],
      "id": "6084ef90-0cde-4b98-bff4-2bcfc0366226",
      "name": "Checkpoint 2 Summary"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502  \ufe0f  CHECKPOINT #2 \u2014 PRODUCTION  |  Lisez Checkpoint 2 Summary > Output > checkpoint_summary                       \u2502\n\u2502  Copiez la commande PowerShell et remplacez VOTRE_SIGNATURE par la valeur du n\u0153ud WAIT                              \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 90,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1264
      ],
      "typeVersion": 1,
      "id": "e4a89260-ed04-4b2b-aaf7-10445b6c3bb7",
      "name": "Note CP2"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "production-approval",
          "limitWaitTime": true,
          "limitType": "afterTimeInterval",
          "resumeAmount": 24,
          "resumeUnit": "hours"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        1360
      ],
      "id": "f4372a35-1827-4370-b18d-5fed8d9297e7",
      "name": "WAIT \u2014 Approve Production",
      "webhookId": "beb1ff36-f0b7-4b0f-b702-3bfa8565e1f0"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502    Test / Am\u00e9lioration  |  TDD, tests unitaires, int\u00e9gration BLV API, acceptance tests, quality gates             \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 90,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1488
      ],
      "typeVersion": 1,
      "id": "72813fb1-9a53-44db-a5ae-3fc120fb83b2",
      "name": "Note Test"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tp1",
              "name": "prompt",
              "value": "=AI-Workflow-Nutrition. FULL CENTRALIZED n8n workflow.\nTask: Generate a concise TDD test plan for the nutrition app.\nKeep it short: max 2 test suites, max 3 tests each.\n\nReturn strict JSON only. No markdown. No code fences.\n\nExpected JSON: {\"tdd_strategy\": \"\", \"test_suites\": [{\"user_story_id\": \"\", \"unit_tests\": [{\"test_name\": \"\", \"description\": \"\", \"input\": \"\", \"expected_output\": \"\"}], \"integration_tests\": [{\"test_name\": \"\", \"endpoint\": \"\", \"method\": \"\", \"expected_status\": 200}], \"acceptance_tests\": [{\"test_name\": \"\", \"given\": \"\", \"when\": \"\", \"then\": \"\"}]}], \"quality_gates\": [{\"name\": \"\", \"threshold\": \"\"}], \"improvement_suggestions\": [], \"test_runner\": \"pytest\", \"coverage_targets\": {\"unit\": 80, \"integration\": 70}}\n\nProduction summary: {{$json.production_report}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        1648
      ],
      "id": "2a2f4455-b52a-431d-8931-393dad04295e",
      "name": "Set Test Improvement Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        1648
      ],
      "id": "5639ff6e-234e-4e7a-8310-26df6a541881",
      "name": "Call Ollama Test Improvement"
    },
    {
      "parameters": {
        "jsCode": "function parseOllama(input) {\n  // Try $json.response first (format:json mode)\n  const sources = [input.response, input.data, JSON.stringify(input)];\n  for (const src of sources) {\n    if (!src) continue;\n    const text = typeof src === 'string' ? src : JSON.stringify(src);\n    // Try direct parse\n    try {\n      const d = JSON.parse(text);\n      if (d && typeof d === 'object' && !d.model && !d.done) return d;\n    } catch(e) {}\n    // Try stream reconstruction\n    try {\n      const lines = text.split('\\n').map(l => l.trim()).filter(Boolean);\n      let rec = '';\n      for (const l of lines) {\n        try { const o = JSON.parse(l); if (typeof o.response === 'string') rec += o.response; } catch(e) {}\n      }\n      if (rec) {\n        rec = rec.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n        const s = rec.indexOf('{'); const e = rec.lastIndexOf('}');\n        if (s !== -1 && e !== -1) return JSON.parse(rec.slice(s, e+1));\n      }\n    } catch(e) {}\n  }\n  throw new Error('Could not parse Ollama response');\n}\n\nconst ctx = $json.context || {};\ntry {\n  const parsed = parseOllama($json);\n  return [{ json: { ...$json, data: parsed, context: ctx } }];\n} catch(err) {\n  return [{ json: { ...$json, data: {}, context: ctx, parse_error: err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1648
      ],
      "id": "66d4e1f2-ecdc-4348-96e4-d5a377017071",
      "name": "Parse Test Improvement JSON"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst data = input.data || {};\nlet txt = '='.repeat(60) + '\\n';\ntxt += 'AI-Workflow-Nutrition \u2014 Test & Improvement Report\\n';\ntxt += '='.repeat(60) + '\\n\\n';\ntxt += 'Strat\u00e9gie TDD : ' + (data.tdd_strategy || '\u2014') + '\\n';\ntxt += 'Test runner : ' + (data.test_runner || '\u2014') + '\\n\\n';\ntxt += 'Test suites : ' + (data.test_suites || []).length + '\\n';\n(data.test_suites || []).forEach(suite => {\n  txt += '  ' + suite.user_story_id + ' : ' + (suite.unit_tests||[]).length + ' unit, ' + (suite.integration_tests||[]).length + ' integration, ' + (suite.acceptance_tests||[]).length + ' acceptance\\n';\n});\ntxt += '\\nQuality gates :\\n';\n(data.quality_gates || []).forEach(g => txt += '  - ' + (g.name||'') + ' : ' + (g.threshold||'') + '\\n');\ntxt += '\\nAm\u00e9liorations sugg\u00e9r\u00e9es :\\n';\n(data.improvement_suggestions || []).forEach(i => txt += '   ' + i + '\\n');\ntxt += '\\n' + '='.repeat(60) + '\\n';\nreturn [{ json: { ...input, test_improvement_report: txt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1648
      ],
      "id": "ceaccfbb-cd67-4307-9cd6-1f3d826ba6e3",
      "name": "Create Test Improvement TXT Report"
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.context || {};\nprev.testing = $json.data || {};\nreturn [{ json: { ...$json, context: prev } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1648
      ],
      "id": "08cb8e1e-d409-4ad0-81ab-df1c6b8dffbe",
      "name": "Carry Testing Context"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502    S\u00e9curit\u00e9  |  Analyse des risques, vuln\u00e9rabilit\u00e9s, recommandations, OWASP, protection API BLV                   \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 90,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1792
      ],
      "typeVersion": 1,
      "id": "7da65320-f9b1-4415-9baf-8af88b5b2923",
      "name": "Note Security"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sp1",
              "name": "prompt",
              "value": "=AI-Workflow-Nutrition. FULL CENTRALIZED n8n workflow.\nTask: Generate a concise security analysis for the nutrition app.\nKeep it short: max 3 vulnerabilities, max 3 recommendations.\n\nReturn strict JSON only. No markdown. No code fences.\n\nExpected JSON: {\"security_score\": 0, \"vulnerabilities\": [{\"id\": \"\", \"name\": \"\", \"severity\": \"low|medium|high\", \"description\": \"\", \"fix\": \"\"}], \"owasp_risks\": [], \"api_security\": {\"blv_api\": [], \"ollama_local\": []}, \"recommendations\": [], \"security_checklist\": []}\n\nKey risks to evaluate: BLV API exposure, Ollama local endpoint, session management, input validation.\nTest summary: {{$json.test_improvement_report}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        1952
      ],
      "id": "6d84ef9c-782e-494f-a55a-ad3e80485c53",
      "name": "Set Security Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        1952
      ],
      "id": "5bc81a5c-a4d2-4e50-a381-0a9a8c72a8e9",
      "name": "Call Ollama Security"
    },
    {
      "parameters": {
        "jsCode": "function parseOllama(input) {\n  // Try $json.response first (format:json mode)\n  const sources = [input.response, input.data, JSON.stringify(input)];\n  for (const src of sources) {\n    if (!src) continue;\n    const text = typeof src === 'string' ? src : JSON.stringify(src);\n    // Try direct parse\n    try {\n      const d = JSON.parse(text);\n      if (d && typeof d === 'object' && !d.model && !d.done) return d;\n    } catch(e) {}\n    // Try stream reconstruction\n    try {\n      const lines = text.split('\\n').map(l => l.trim()).filter(Boolean);\n      let rec = '';\n      for (const l of lines) {\n        try { const o = JSON.parse(l); if (typeof o.response === 'string') rec += o.response; } catch(e) {}\n      }\n      if (rec) {\n        rec = rec.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n        const s = rec.indexOf('{'); const e = rec.lastIndexOf('}');\n        if (s !== -1 && e !== -1) return JSON.parse(rec.slice(s, e+1));\n      }\n    } catch(e) {}\n  }\n  throw new Error('Could not parse Ollama response');\n}\n\nconst ctx = $json.context || {};\ntry {\n  const parsed = parseOllama($json);\n  return [{ json: { ...$json, data: parsed, context: ctx } }];\n} catch(err) {\n  return [{ json: { ...$json, data: {}, context: ctx, parse_error: err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1952
      ],
      "id": "0dbbc854-9f8c-4545-98b7-7e8ea69e6cde",
      "name": "Parse Security JSON"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst data = input.data || {};\nlet txt = '='.repeat(60) + '\\n';\ntxt += 'AI-Workflow-Nutrition \u2014 Security Report\\n';\ntxt += '='.repeat(60) + '\\n\\n';\ntxt += 'Score s\u00e9curit\u00e9 : ' + (data.security_score || '\u2014') + '/100\\n\\n';\ntxt += 'Vuln\u00e9rabilit\u00e9s :\\n';\n(data.vulnerabilities || []).forEach(v => {\n  txt += '  [' + (v.severity||'?').toUpperCase() + '] ' + (v.name||'') + '\\n';\n  txt += '    ' + (v.description||'') + '\\n';\n  txt += '    Fix : ' + (v.fix||'') + '\\n\\n';\n});\ntxt += 'Recommandations :\\n';\n(data.recommendations || []).forEach(r => txt += '   ' + r + '\\n');\ntxt += '\\n' + '='.repeat(60) + '\\n';\nreturn [{ json: { ...input, security_report: txt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1952
      ],
      "id": "631859f8-809d-44e6-a90f-2edeca0fd65d",
      "name": "Create Security TXT Report"
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.context || {};\nprev.security = $json.data || {};\nreturn [{ json: { ...$json, context: prev } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1952
      ],
      "id": "04fd2388-2bc4-43ff-943a-92f6ccbcf10c",
      "name": "Carry Security Context"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502    D\u00e9ploiement + Maintenance  |  Docker, Azure DevOps CI/CD, monitoring, maintenance automatique                  \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 80,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        2080
      ],
      "typeVersion": 1,
      "id": "61b75cbb-a22b-47ff-8724-ebaf5c5a08ed",
      "name": "Note Deployment"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dp1",
              "name": "prompt",
              "value": "=AI-Workflow-Nutrition. FULL CENTRALIZED n8n workflow.\nTask: Generate a concise deployment and maintenance plan.\nKeep it short: max 3 items per array.\n\nReturn strict JSON only. No markdown. No code fences.\n\nExpected JSON: {\"deployment_strategy\": \"\", \"docker_config\": {\"base_image\": \"\", \"ports\": [], \"volumes\": [], \"env_vars\": []}, \"cicd_pipeline\": {\"tool\": \"Azure DevOps\", \"stages\": []}, \"monitoring\": {\"tools\": [], \"alerts\": []}, \"rollback_strategy\": \"\", \"maintenance\": {\"automated_tasks\": [], \"manual_tasks\": []}, \"launch_checklist\": []}\n\nSecurity summary: {{$json.security_report}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        2240
      ],
      "id": "666baee8-cf0b-47e2-b8d1-573691b389ad",
      "name": "Set Deployment Maintenance Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        2240
      ],
      "id": "2eb92850-cadd-4111-b052-5d9dfc08cf3a",
      "name": "Call Ollama Deployment Maintenance"
    },
    {
      "parameters": {
        "jsCode": "function parseOllama(input) {\n  // Try $json.response first (format:json mode)\n  const sources = [input.response, input.data, JSON.stringify(input)];\n  for (const src of sources) {\n    if (!src) continue;\n    const text = typeof src === 'string' ? src : JSON.stringify(src);\n    // Try direct parse\n    try {\n      const d = JSON.parse(text);\n      if (d && typeof d === 'object' && !d.model && !d.done) return d;\n    } catch(e) {}\n    // Try stream reconstruction\n    try {\n      const lines = text.split('\\n').map(l => l.trim()).filter(Boolean);\n      let rec = '';\n      for (const l of lines) {\n        try { const o = JSON.parse(l); if (typeof o.response === 'string') rec += o.response; } catch(e) {}\n      }\n      if (rec) {\n        rec = rec.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n        const s = rec.indexOf('{'); const e = rec.lastIndexOf('}');\n        if (s !== -1 && e !== -1) return JSON.parse(rec.slice(s, e+1));\n      }\n    } catch(e) {}\n  }\n  throw new Error('Could not parse Ollama response');\n}\n\nconst ctx = $json.context || {};\ntry {\n  const parsed = parseOllama($json);\n  return [{ json: { ...$json, data: parsed, context: ctx } }];\n} catch(err) {\n  return [{ json: { ...$json, data: {}, context: ctx, parse_error: err.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2240
      ],
      "id": "4c14894a-5b09-4191-ba7e-3650aa0901f4",
      "name": "Parse Deployment Maintenance JSON"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst data = input.data || {};\nlet txt = '='.repeat(60) + '\\n';\ntxt += 'AI-Workflow-Nutrition \u2014 Deployment & Maintenance Report\\n';\ntxt += '='.repeat(60) + '\\n\\n';\ntxt += 'Strat\u00e9gie : ' + (data.deployment_strategy || '\u2014') + '\\n\\n';\ntxt += 'Docker :\\n';\ntxt += '  Image : ' + (data.docker_config?.base_image || '\u2014') + '\\n';\ntxt += '  Ports : ' + (data.docker_config?.ports || []).join(', ') + '\\n\\n';\ntxt += 'CI/CD : ' + (data.cicd_pipeline?.tool || '\u2014') + '\\n';\n(data.cicd_pipeline?.stages || []).forEach(s => txt += '  - ' + s + '\\n');\ntxt += '\\nRollback : ' + (data.rollback_strategy || '\u2014') + '\\n\\n';\ntxt += 'Launch checklist :\\n';\n(data.launch_checklist || []).forEach(item => txt += '   ' + item + '\\n');\ntxt += '\\n' + '='.repeat(60) + '\\n';\nreturn [{ json: { ...input, deployment_report: txt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        2240
      ],
      "id": "8cd11d11-f1bc-4f23-97e4-241e961e253a",
      "name": "Create Deployment Maintenance TXT Report"
    },
    {
      "parameters": {
        "jsCode": "const prev = $json.context || {};\nprev.deployment = $json.data || {};\nreturn [{ json: { ...$json, context: prev } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        2240
      ],
      "id": "f0efd20e-332b-491e-b994-1f3189d4b00c",
      "name": "Carry Deployment Context"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst ctx = d.context || {};\nlet summary = '='.repeat(60) + '\\n';\nsummary += '\ufe0f  CHECKPOINT #3 \u2014 GO / NO-GO FINAL\\n';\nsummary += '='.repeat(60) + '\\n';\nsummary += 'Design Thinking  : ' + (ctx.design?.user_stories?.length || 0) + ' user stories\\n';\nsummary += 'Architecture     : ' + (ctx.architecture?.architecture_style || '\u2014') + '\\n';\nsummary += 'Production       : ' + (ctx.production?.production_specs?.length || 0) + ' specs\\n';\nsummary += 'Tests            : ' + (ctx.testing?.test_suites?.length || 0) + ' suites\\n';\nsummary += 'S\u00e9curit\u00e9         : ' + (ctx.security?.vulnerabilities?.length || 0) + ' vuln\u00e9rabilit\u00e9s\\n';\nsummary += 'D\u00e9ploiement      : ' + (ctx.deployment?.deployment_strategy || '\u2014') + '\\n';\nsummary += '-'.repeat(60) + '\\n';\nsummary += ' Rapports TXT disponibles dans chaque n\u0153ud Create *TXT Report\\n';\nsummary += '-'.repeat(60) + '\\n';\nsummary += ' Pour APPROUVER et g\u00e9n\u00e9rer le package final, lancez :\\n\\n';\nsummary += 'Invoke-WebRequest -Uri \"http://localhost:5678/webhook-waiting/' + ($execution?.id || 'X') + '/gono-approval?signature=VOTRE_SIGNATURE\" -Method GET -UseBasicParsing\\n';\nsummary += '='.repeat(60);\nreturn [{ json: { ...d, checkpoint_summary: summary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        2240
      ],
      "id": "3c170728-f76f-43c8-ab20-bebc2a320555",
      "name": "Checkpoint 3 Summary"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502  \ufe0f  CHECKPOINT #3 \u2014 GO/NO-GO FINAL  |  Lisez Checkpoint 3 Summary > Output > checkpoint_summary                   \u2502\n\u2502  Copiez la commande PowerShell et remplacez VOTRE_SIGNATURE par la valeur du n\u0153ud WAIT                              \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 90,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        2384
      ],
      "typeVersion": 1,
      "id": "4dbb412c-f501-417b-8aa4-58383953f264",
      "name": "Note CP3"
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "gono-approval",
          "limitWaitTime": true,
          "limitType": "afterTimeInterval",
          "resumeAmount": 24,
          "resumeUnit": "hours"
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        2480
      ],
      "id": "af322805-cdd5-4d54-b326-196cd6e8dc92",
      "name": "WAIT \u2014 Go/No-Go Final",
      "webhookId": "baecfe1a-0608-4a0e-9ff1-83f9f8e3a89e"
    },
    {
      "parameters": {
        "content": "\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510\n\u2502    Package Final  |  Rapport complet TXT + r\u00e9sum\u00e9 JSON de tout le lifecycle                                       \u2502\n\u2514\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2518",
        "height": 90,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        2624
      ],
      "typeVersion": 1,
      "id": "23fa903c-e769-4e89-b6b2-413e44592d13",
      "name": "Note Final"
    },
    {
      "parameters": {
        "jsCode": "\nconst now = new Date().toISOString();\n\nfunction safeGet(nodeName) {\n  try {\n    const items = $items(nodeName);\n    if (items && items[0] && items[0].json) {\n      return items[0].json.data || items[0].json || {};\n    }\n  } catch(e) {}\n  return {};\n}\n\nfunction safeReport(nodeName) {\n  try {\n    const items = $items(nodeName);\n    if (items && items[0] && items[0].json) {\n      const j = items[0].json;\n      return j.design_thinking_report || j.architecture_report || \n             j.production_report || j.test_improvement_report || \n             j.security_report || j.deployment_report || '';\n    }\n  } catch(e) {}\n  return '';\n}\n\nconst design     = safeGet('Carry Design Context');\nconst arch       = safeGet('Carry Architecture Context');\nconst production = safeGet('Carry Production Context');\nconst testing    = safeGet('Carry Testing Context');\nconst security   = safeGet('Carry Security Context');\nconst deployment = safeGet('Carry Deployment Context');\n\nconst dtReport   = safeReport('Create Design Thinking TXT Report');\nconst archReport = safeReport('Create Architecture TXT Report');\nconst prodReport = safeReport('Create Production TXT Report');\nconst testReport = safeReport('Create Test Improvement TXT Report');\nconst secReport  = safeReport('Create Security TXT Report');\nconst depReport  = safeReport('Create Deployment Maintenance TXT Report');\n\nfunction section(name) { return '\\n' + '='.repeat(60) + '\\n' + name + '\\n' + '='.repeat(60) + '\\n'; }\n\nlet fullReport = 'AI-Workflow-Nutrition \u2014 Final Lifecycle Report\\n';\nfullReport += 'Generated: ' + now + '\\n';\nfullReport += 'Mode: Semi-Autonomous (3 human checkpoints)\\n';\nfullReport += '='.repeat(60) + '\\n';\n\nfullReport += section('1. DESIGN THINKING');\nfullReport += dtReport || JSON.stringify(design, null, 2);\n\nfullReport += section('2. ARCHITECTURE');\nfullReport += archReport || JSON.stringify(arch, null, 2);\n\nfullReport += section('3. PRODUCTION');\nfullReport += prodReport || JSON.stringify(production, null, 2);\n\nfullReport += section('4. TEST & IMPROVEMENT');\nfullReport += testReport || JSON.stringify(testing, null, 2);\n\nfullReport += section('5. SECURITY');\nfullReport += secReport || JSON.stringify(security, null, 2);\n\nfullReport += section('6. DEPLOYMENT & MAINTENANCE');\nfullReport += depReport || JSON.stringify(deployment, null, 2);\n\nfullReport += section('FINAL SUMMARY');\nfullReport += 'User stories    : ' + (design.design?.user_stories?.length || design.user_stories?.length || 0) + '\\n';\nfullReport += 'Production specs: ' + (production.production?.production_specs?.length || production.production_specs?.length || 0) + '\\n';\nfullReport += 'Test suites     : ' + (testing.testing?.test_suites?.length || testing.test_suites?.length || 0) + '\\n';\nfullReport += 'Vulnerabilities : ' + (security.security?.vulnerabilities?.length || security.vulnerabilities?.length || 0) + '\\n';\nfullReport += 'Deployment      : ' + (deployment.deployment?.deployment_strategy || deployment.deployment_strategy || '\u2014') + '\\n';\nfullReport += '\\nPipeline completed successfully. 3 human checkpoints validated.\\n';\n\nreturn [{ json: {\n  pipeline_status: 'COMPLETED',\n  workflow: 'central-workflow-semi-auto-v9',\n  mode: 'semi-autonomous',\n  completed_at: now,\n  human_checkpoints_passed: 3,\n  steps_completed: [\n    '1 \u2014 Design Thinking',\n    '2 \u2014 Architecture',\n    '3 \u2014 Production',\n    '4 \u2014 Test & Improvement',\n    '5 \u2014 Security',\n    '6 \u2014 Deployment & Maintenance',\n    '7 \u2014 Final Package'\n  ],\n  full_lifecycle_report: fullReport,\n  context_summary: {\n    design: design,\n    architecture: arch,\n    production: production,\n    testing: testing,\n    security: security,\n    deployment: deployment\n  },\n  message: 'Full report available in full_lifecycle_report field'\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        2704
      ],
      "id": "a2173913-2804-4f6a-91ab-76ccbefb6955",
      "name": "Generate Full Lifecycle Package"
    },
    {
      "parameters": {
        "content": "\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\n  PIPELINE TERMIN\u00c9  |  Rapport complet : Generate Full Lifecycle Package > Output > full_lifecycle_report\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501",
        "height": 80,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        2864
      ],
      "typeVersion": 1,
      "id": "efd82d12-9480-41a4-8fa6-9f46c4662b73",
      "name": "Footer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        208
      ],
      "id": "88ff6106-384d-48e0-8ecf-a8b89f0539a8",
      "name": "Call Ollama Design Thinking"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $json;\nconst report = input.full_lifecycle_report || 'No report generated';\n\n// Convert to base64 for n8n binary\nconst base64 = Buffer.from(report, 'utf8').toString('base64');\n\nreturn [{\n  json: {\n    ...input,\n    export_status: 'ready',\n    filename: 'lifecycle-report-' + new Date().toISOString().slice(0,10) + '.txt',\n    message: 'Report ready for download in Binary tab'\n  },\n  binary: {\n    lifecycle_report_txt: {\n      data: base64,\n      mimeType: 'text/plain',\n      fileName: 'AI-Workflow-Nutrition-Lifecycle-Report.txt',\n      fileExtension: 'txt'\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        2100
      ],
      "id": "node-export-txt",
      "name": "Export Lifecycle Report TXT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cg1",
              "name": "prompt",
              "value": "=Generate ONLY the content of app.py for a Flask nutrition web application using the Swiss BLV Food API.\nRoutes needed:\n- GET / returns index.html\n- GET /search?q= searches Swiss Food API at https://api.webapp.prod.blv.foodcase-services.com/BLV_WebApp_WS/webresources/BLV-api/food?lang=fr&search=QUERY\n- POST /api/daily/add adds food to session\n- GET /api/daily/get returns daily intake from session\n- POST /api/daily/reset clears session\n\nReturn ONLY Python code. No explanations. Start with: from flask import",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        2100
      ],
      "id": "node-codegen-prompt",
      "name": "Set Code Generation Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        920,
        2100
      ],
      "id": "node-codegen-call",
      "name": "Call Ollama Code Generation"
    },
    {
      "parameters": {
        "jsCode": "\nconst raw = $json.response || $json.data || JSON.stringify($json);\n\n// Get TXT report binary from previous node\nlet txtBinary = null;\ntry {\n  const txtItems = $items('Export Lifecycle Report TXT');\n  if (txtItems && txtItems[0] && txtItems[0].binary) {\n    txtBinary = txtItems[0].binary.lifecycle_report_txt;\n  }\n} catch(e) {}\n\n// Extract code from Ollama response\nlet code = typeof raw === 'string' ? raw : JSON.stringify(raw);\ntry {\n  const lines = code.split('\\n').map(l => l.trim()).filter(Boolean);\n  let rec = '';\n  for (const l of lines) {\n    try { const o = JSON.parse(l); if (o.response) rec += o.response; } catch(e) {}\n  }\n  if (rec) code = rec;\n} catch(e) {}\n\ncode = code.replace(/^```python\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n\nconst base64Code = Buffer.from(code, 'utf8').toString('base64');\n\nconst binary = {\n  app_py: {\n    data: base64Code,\n    mimeType: 'text/x-python',\n    fileName: 'app.py',\n    fileExtension: 'py'\n  }\n};\n\nif (txtBinary) {\n  binary.lifecycle_report_txt = txtBinary;\n}\n\nreturn [{\n  json: {\n    pipeline_status: 'COMPLETED',\n    workflow: 'central-workflow-semi-auto-v9',\n    mode: 'semi-autonomous',\n    human_checkpoints_passed: 3,\n    steps_completed: [\n      '1 \u2014 Design Thinking',\n      '2 \u2014 Architecture',\n      '3 \u2014 Production',\n      '4 \u2014 Test & Improvement',\n      '5 \u2014 Security',\n      '6 \u2014 Deployment & Maintenance',\n      '7 \u2014 Final Package',\n      '8 \u2014 Code Generation'\n    ],\n    generated_files: ['lifecycle-report.txt', 'app.py'],\n    app_py_preview: code.slice(0, 300),\n    message: 'Download app.py and lifecycle-report.txt from the Binary tab.'\n  },\n  binary\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2100
      ],
      "id": "node-codegen-parse",
      "name": "Package Generated Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Global Lifecycle Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Lifecycle Context": {
      "main": [
        [
          {
            "node": "Set Design Thinking Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Design Thinking Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama Design Thinking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Design Thinking JSON": {
      "main": [
        [
          {
            "node": "Create Design Thinking TXT Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Design Thinking TXT Report": {
      "main": [
        [
          {
            "node": "Carry Design Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Design Context": {
      "main": [
        [
          {
            "node": "Checkpoint 1 Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkpoint 1 Summary": {
      "main": [
        [
          {
            "node": "WAIT \u2014 Approve Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT \u2014 Approve Design": {
      "main": [
        [
          {
            "node": "Set Architecture Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Architecture Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama Architecture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama Architecture": {
      "main": [
        [
          {
            "node": "Parse Architecture JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Architecture JSON": {
      "main": [
        [
          {
            "node": "Create Architecture TXT Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Architecture TXT Report": {
      "main": [
        [
          {
            "node": "Carry Architecture Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Architecture Context": {
      "main": [
        [
          {
            "node": "Set Production Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Production Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama Production": {
      "main": [
        [
          {
            "node": "Parse Production JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Production JSON": {
      "main": [
        [
          {
            "node": "Create Production TXT Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Production TXT Report": {
      "main": [
        [
          {
            "node": "Carry Production Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Production Context": {
      "main": [
        [
          {
            "node": "Checkpoint 2 Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkpoint 2 Summary": {
      "main": [
        [
          {
            "node": "WAIT \u2014 Approve Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT \u2014 Approve Production": {
      "main": [
        [
          {
            "node": "Set Test Improvement Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Improvement Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama Test Improvement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama Test Improvement": {
      "main": [
        [
          {
            "node": "Parse Test Improvement JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Test Improvement JSON": {
      "main": [
        [
          {
            "node": "Create Test Improvement TXT Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Improvement TXT Report": {
      "main": [
        [
          {
            "node": "Carry Testing Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Testing Context": {
      "main": [
        [
          {
            "node": "Set Security Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Security Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama Security": {
      "main": [
        [
          {
            "node": "Parse Security JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Security JSON": {
      "main": [
        [
          {
            "node": "Create Security TXT Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Security TXT Report": {
      "main": [
        [
          {
            "node": "Carry Security Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Security Context": {
      "main": [
        [
          {
            "node": "Set Deployment Maintenance Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Deployment Maintenance Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama Deployment Maintenance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama Deployment Maintenance": {
      "main": [
        [
          {
            "node": "Parse Deployment Maintenance JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Deployment Maintenance JSON": {
      "main": [
        [
          {
            "node": "Create Deployment Maintenance TXT Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deployment Maintenance TXT Report": {
      "main": [
        [
          {
            "node": "Carry Deployment Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry Deployment Context": {
      "main": [
        [
          {
            "node": "Checkpoint 3 Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkpoint 3 Summary": {
      "main": [
        [
          {
            "node": "WAIT \u2014 Go/No-Go Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT \u2014 Go/No-Go Final": {
      "main": [
        [
          {
            "node": "Generate Full Lifecycle Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama Design Thinking": {
      "main": [
        [
          {
            "node": "Parse Design Thinking JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Full Lifecycle Package": {
      "main": [
        [
          {
            "node": "Export Lifecycle Report TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Lifecycle Report TXT": {
      "main": [
        [
          {
            "node": "Set Code Generation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Code Generation Prompt": {
      "main": [
        [
          {
            "node": "Call Ollama Code Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama Code Generation": {
      "main": [
        [
          {
            "node": "Package Generated Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "641dff4e-aece-4fb1-aac7-74a3f139c416",
  "meta": {
    "instanceId": "29f809d20c6133c88e70e389ae3227cb2ffb89289284e658d34d057c7595c7ae"
  },
  "id": "vIJy1VvI1CJ7KFfx",
  "tags": []
}