workflows/Decentralized system01/WF00 - Master workflow.json
{
  "name": "WF00 - Master workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca10c2f1-bc96-4ec7-8a21-2836c3d61b7b",
              "name": "event_type",
              "value": "={{$json.body.event_type || \"manual\"}}",
              "type": "string"
            },
            {
              "id": "8475e6d4-c969-4fc6-a648-bdfc5811304c",
              "name": "source",
              "value": "={{$json.body.source || \"manual\"}}",
              "type": "string"
            },
            {
              "id": "49d411cc-6e0f-47a7-b4b7-4711b5c69eda",
              "name": "project",
              "value": "={{$json.body.project || \"Unknown Project\"}}",
              "type": "string"
            },
            {
              "id": "5cd9fd22-6b86-4d45-b860-768f4adf6bc2",
              "name": "work_item_id",
              "value": "={{$json.body.work_item_id || \"\"}}",
              "type": "string"
            },
            {
              "id": "bc70c10c-7356-4d7e-bb14-97076e2a0e7d",
              "name": "title",
              "value": "={{$json.body.title || \"\"}}",
              "type": "string"
            },
            {
              "id": "3cff434c-a538-4777-a4d2-32c2d9eb9911",
              "name": "description",
              "value": "={{$json.body.description || \"\"}}",
              "type": "string"
            },
            {
              "id": "d786306d-054a-449c-a6a1-189cf6195c40",
              "name": "acceptance_criteria",
              "value": "={{$json.body.acceptance_criteria || \"\"}}",
              "type": "string"
            },
            {
              "id": "972426f3-151d-4a60-98fb-a4b74181a26e",
              "name": "repository",
              "value": "={{$json.body.repository || \"\"}}",
              "type": "string"
            },
            {
              "id": "1464315f-ae3e-414a-a883-eb216748a1d0",
              "name": "branch",
              "value": "={{$json.body.branch || \"\"}}",
              "type": "string"
            },
            {
              "id": "0415fe6a-7539-460d-8b8a-1645dc4442c5",
              "name": "pull_request_url",
              "value": "={{$json.body.pull_request_url || \"\"}}",
              "type": "string"
            },
            {
              "id": "c63f9c79-5269-49a5-90dd-f921b9ffab72",
              "name": "priority",
              "value": "={{$json.body.priority || \"\"}}",
              "type": "string"
            },
            {
              "id": "55e93d70-1596-49cb-a38d-c913c1126348",
              "name": "status",
              "value": "={{$json.body.status || \"received\"}}",
              "type": "string"
            },
            {
              "id": "5e890ed9-1846-4a6c-b534-ac3273877218",
              "name": "orchestration_status",
              "value": "started",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -16
      ],
      "id": "b4284d9f-a3a5-443c-86e4-562c391b3ce7",
      "name": "Set - Normalize Input"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.event_type}}",
                    "rightValue": "user_story",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "36302a09-a519-4d93-a81f-cdf59708674f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d0e6ecfa-ad6f-4496-9c95-1cd44f183ac6",
                    "leftValue": "={{$json.event_type}}",
                    "rightValue": "bug",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6adb2268-56c2-4875-9921-14f3708b966d",
                    "leftValue": "={{$json.event_type}}",
                    "rightValue": "pull_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "392cc055-40b4-4192-b6f9-966a404dc2e1",
                    "leftValue": "={{$json.event_type}}",
                    "rightValue": "commit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "130277fc-a7fc-45e0-b5bf-4b082fdf231f",
                    "leftValue": "={{$json.event_type}}",
                    "rightValue": "po_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        -64
      ],
      "id": "feeba137-1c70-4f33-b270-b6560fb6b02a",
      "name": "Switch - Route Event Type"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bf03XSaA3R6jMTYd",
          "mode": "list",
          "cachedResultUrl": "/workflow/bf03XSaA3R6jMTYd",
          "cachedResultName": "WF01 - Requirement Analysis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        -512
      ],
      "id": "99931b5c-e2e2-4366-8ef1-da2bbcedaab9",
      "name": "Execute - WF01 Requirement Analysis"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RFboY4yGVvmi7pa6",
          "mode": "list",
          "cachedResultUrl": "/workflow/RFboY4yGVvmi7pa6",
          "cachedResultName": "WF02 - Technical Breakdown"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1216,
        -592
      ],
      "id": "a334df90-e22a-460b-9f87-43a637490aeb",
      "name": "Execute - WF02 Technical Breakdown"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Yjoi1KPbRtj3mwxh",
          "mode": "list",
          "cachedResultUrl": "/workflow/Yjoi1KPbRtj3mwxh",
          "cachedResultName": "WF04 - QA Tests"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2192,
        -592
      ],
      "id": "636fea08-85ce-4daf-bce0-1a145bf6362e",
      "name": "Execute - WF04 QA Tests"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kV2V6K2Ty1864ayU",
          "mode": "list",
          "cachedResultUrl": "/workflow/kV2V6K2Ty1864ayU",
          "cachedResultName": "WF07 - Industrial Report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4208,
        -416
      ],
      "id": "31970d6d-3e5a-464b-af65-1cd051b9c06b",
      "name": "Execute - WF07 Industrial Report"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bf03XSaA3R6jMTYd",
          "mode": "list",
          "cachedResultUrl": "/workflow/bf03XSaA3R6jMTYd",
          "cachedResultName": "WF01 - Requirement Analysis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        -160
      ],
      "id": "d0db2b33-4198-4468-908b-390da709aa76",
      "name": "Execute - WF01 Bug Analysis"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zNlXNuMZVrcrQ0F3",
          "mode": "list",
          "cachedResultUrl": "/workflow/zNlXNuMZVrcrQ0F3",
          "cachedResultName": "WF03 - Code Assistance"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1712,
        -240
      ],
      "id": "ac278da0-62a0-4fe3-8000-44f70d9fdfa2",
      "name": "Execute - WF03 Bug Code Assistance"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Yjoi1KPbRtj3mwxh",
          "mode": "list",
          "cachedResultUrl": "/workflow/Yjoi1KPbRtj3mwxh",
          "cachedResultName": "WF04 - QA Tests"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2192,
        -240
      ],
      "id": "32c21e30-09e0-44f8-a1cb-79bb287a2363",
      "name": "Execute - WF04 Bug QA Tests"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6qkY2Y5OIowfu9WA",
          "mode": "list",
          "cachedResultUrl": "/workflow/6qkY2Y5OIowfu9WA",
          "cachedResultName": "WF07 - Industrial Report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4208,
        -64
      ],
      "id": "5cb68f42-f285-4553-96da-c6c4c878576c",
      "name": "Execute - WF07 Bug Industrial Report"
    },
    {
      "parameters": {
        "content": "Branch: user_story",
        "height": 320,
        "width": 3700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        -608
      ],
      "typeVersion": 1,
      "id": "2a152081-3f7f-4ef8-9863-3d1fd34b8c7e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Branch: bug",
        "height": 336,
        "width": 3696,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        -256
      ],
      "typeVersion": 1,
      "id": "0b83ed34-edeb-4bf1-8ff9-d53a7656bdc1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Branch: pull_request",
        "height": 320,
        "width": 3696,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        112
      ],
      "typeVersion": 1,
      "id": "14267614-0051-4c00-b16f-c2d116a113b5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Yjoi1KPbRtj3mwxh",
          "mode": "list",
          "cachedResultUrl": "/workflow/Yjoi1KPbRtj3mwxh",
          "cachedResultName": "WF04 - QA Tests"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        224
      ],
      "id": "291544e8-2c07-4970-bd3c-8b0c67210ee4",
      "name": "Execute - WF04 PR QA Tests"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tUfcKfQuHelWKkfb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tUfcKfQuHelWKkfb",
          "cachedResultName": "WF05 - CI CD"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3376,
        128
      ],
      "id": "0b0d4227-1bba-436e-9926-30472d8cc65d",
      "name": "Execute - WF05 PR CI CD"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IIE2QGUSd1IImpRT",
          "mode": "list",
          "cachedResultUrl": "/workflow/IIE2QGUSd1IImpRT",
          "cachedResultName": "WF06 - AI Review"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2192,
        128
      ],
      "id": "8c99eb9a-5bde-4155-8c98-1f0594fea32e",
      "name": "Execute - WF06 PR AI Review"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6qkY2Y5OIowfu9WA",
          "mode": "list",
          "cachedResultUrl": "/workflow/6qkY2Y5OIowfu9WA",
          "cachedResultName": "WF07 - Industrial Report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4208,
        304
      ],
      "id": "9bf5af23-d120-4888-974e-49a09f115ebc",
      "name": "Execute - WF07 PR Industrial Report"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "J98326Pwct5Fj9Vm",
          "mode": "list",
          "cachedResultUrl": "/workflow/J98326Pwct5Fj9Vm",
          "cachedResultName": "WF04 - QA Tests"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        576
      ],
      "id": "83df4a20-8d63-41e9-8fed-aeaa3c901468",
      "name": "Execute - WF04 Commit QA Tests"
    },
    {
      "parameters": {
        "content": "Branch: commit",
        "height": 336,
        "width": 3696,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        464
      ],
      "typeVersion": 1,
      "id": "20a9c6c2-a64f-43f3-9523-709c6703322c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tUfcKfQuHelWKkfb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tUfcKfQuHelWKkfb",
          "cachedResultName": "WF05 - CI CD"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2832,
        512
      ],
      "id": "d4878632-6276-4db7-a8b5-b995eb9ef804",
      "name": "Execute - WF05 Commit CI CD"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6qkY2Y5OIowfu9WA",
          "mode": "list",
          "cachedResultUrl": "/workflow/6qkY2Y5OIowfu9WA",
          "cachedResultName": "WF07 - Industrial Report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4208,
        656
      ],
      "id": "97e06519-c096-4635-aa88-896c11e4b7e3",
      "name": "Execute - WF07 Commit Industrial Report"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6qkY2Y5OIowfu9WA",
          "mode": "list",
          "cachedResultUrl": "/workflow/6qkY2Y5OIowfu9WA",
          "cachedResultName": "WF07 - Industrial Report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        960
      ],
      "id": "cf4fbefb-85f9-40cc-9a16-d6ce56edbdd3",
      "name": "Execute - WF07 PO Industrial Report"
    },
    {
      "parameters": {
        "content": "Branch: commit",
        "height": 304,
        "width": 3680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        864
      ],
      "typeVersion": 1,
      "id": "9b8c2ff7-0654-4b8e-ad05-cd5eb60b6cab",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RFboY4yGVvmi7pa6",
          "mode": "list",
          "cachedResultUrl": "/workflow/RFboY4yGVvmi7pa6",
          "cachedResultName": "WF02 - Technical Breakdown"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1216,
        -240
      ],
      "id": "fb936994-9324-4709-b68f-410b06767eec",
      "name": "Execute - WF02 Bug Technical Breakdown"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"workflow\": \"WF00 - Master Workflow\",\n  \"status\": \"completed\",\n  \"event_type\": \"={{$json.event_type}}\",\n  \"project\": \"={{$json.project}}\",\n  \"work_item_id\": \"={{$json.work_item_id}}\",\n  \"human_validation_required\": true,\n  \"result\": \"={{$json}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5312,
        -64
      ],
      "id": "59b763c5-7bcd-4790-b684-ffa20ed1236e",
      "name": "Respond - Final Orchestration Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "industrialization-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -16
      ],
      "id": "f84cc104-55e6-4a79-bea4-db18cc8af0a0",
      "name": "Webhook - Receive Event",
      "webhookId": "fe1f4a42-39c2-43f9-b7a1-d0acaf427200"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zNlXNuMZVrcrQ0F3",
          "mode": "list",
          "cachedResultUrl": "/workflow/zNlXNuMZVrcrQ0F3",
          "cachedResultName": "WF03 - Code Assistance"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1696,
        -592
      ],
      "id": "414f1230-77bc-485f-807c-7d53581b976b",
      "name": "Execute - WF03 - Code Assistance"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eAAx7oxkyZUTzamr",
          "mode": "list",
          "cachedResultUrl": "/workflow/eAAx7oxkyZUTzamr",
          "cachedResultName": "WF08 - Code Execution / Repository Update"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2832,
        -592
      ],
      "id": "cbb82b38-22ed-4226-8330-7029a531da84",
      "name": "Execute - WF08 Code Execution / Repository Update"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tUfcKfQuHelWKkfb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tUfcKfQuHelWKkfb",
          "cachedResultName": "WF05 - CI CD"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3376,
        -592
      ],
      "id": "c737da72-74a6-4e66-80c5-ed4b61d197be",
      "name": "Execute - WF05 US CI CD"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IIE2QGUSd1IImpRT",
          "mode": "list",
          "cachedResultUrl": "/workflow/IIE2QGUSd1IImpRT",
          "cachedResultName": "WF06 - AI Review"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3888,
        -592
      ],
      "id": "78f5ef4a-c27a-477e-addb-90bac1ca7b36",
      "name": "Execute - WF06 US AI Review"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eAAx7oxkyZUTzamr",
          "mode": "list",
          "cachedResultUrl": "/workflow/eAAx7oxkyZUTzamr",
          "cachedResultName": "WF08 - Code Execution / Repository Update"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2832,
        -240
      ],
      "id": "5d8c8300-c484-417b-8b81-7551830d261e",
      "name": "Execute - WF08 Bug Code Execution / Repository Update"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IIE2QGUSd1IImpRT",
          "mode": "list",
          "cachedResultUrl": "/workflow/IIE2QGUSd1IImpRT",
          "cachedResultName": "WF06 - AI Review"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3888,
        -240
      ],
      "id": "704cbb0e-83bd-4fcc-9561-c651b0390969",
      "name": "Execute - WF06 Bug AI Review"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tUfcKfQuHelWKkfb",
          "mode": "list",
          "cachedResultUrl": "/workflow/tUfcKfQuHelWKkfb",
          "cachedResultName": "WF05 - CI CD"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3376,
        -240
      ],
      "id": "3975c329-f96f-40df-b069-2ea7fdcd9e4b",
      "name": "Execute - WF05 Bug CI CD"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a6b6c440-02f5-473e-bfae-5748596b0664",
              "leftValue": "={{$json.wf01_requirement_analysis.ready_for_development}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        -432
      ],
      "id": "a5ed13a2-1221-4302-b482-6949c1461da5",
      "name": "IF - WF01 Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0ca86a12-e3b4-4b68-8b37-fbf14651ed2d",
              "leftValue": "={{$json.wf02_technical_breakdown.ready_for_code_assistance}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        -432
      ],
      "id": "17c7bf82-f6a9-40c9-8e7a-225e628a2c90",
      "name": "IF - WF02 Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "470c831c-1f29-45c7-b2b6-400543fe30d8",
              "leftValue": "={{$json.wf03_code_assistance.ready_for_qa}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        -432
      ],
      "id": "9f8b8fc0-2363-449f-8d60-073f196ee44c",
      "name": "IF - WF03 Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "32bda2e3-ef93-4af1-811b-3cbba73f79ef",
              "leftValue": "={{$json.wf04_qa_tests.ready_for_ci_cd}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2496,
        -432
      ],
      "id": "1e6a1177-c411-47fb-becd-90df88ea4cd5",
      "name": "IF - WF04 Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1ccdfca7-327b-4d74-95ae-c80cf1cffe96",
              "leftValue": "={{$json.wf08_repository_update.repository_update_ready}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3088,
        -432
      ],
      "id": "ee6194ad-1153-490d-8c35-bab12efa9081",
      "name": "IF - WF08 Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7c0a57b7-7972-4b6c-b504-ac4db7c6cb87",
              "leftValue": "={{$json.wf05_ci_cd.ready_for_review}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3648,
        -432
      ],
      "id": "dbf736ba-1a88-4da2-917e-b4b916568039",
      "name": "IF - WF05 Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "505430b4-cb29-4186-8aab-fb36a4497c96",
              "leftValue": "={{$json.wf01_requirement_analysis.ready_for_development}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        -80
      ],
      "id": "f5113cbe-6d28-4d05-88da-8f90d9f959f7",
      "name": "IF - WF01 Bug Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8cc2bb5b-8627-4142-a5ee-17dd42956622",
              "leftValue": "={{$json.wf02_technical_breakdown.ready_for_code_assistance}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        -80
      ],
      "id": "3fd8f077-5670-4638-80a0-2528852dd055",
      "name": "IF - WF02 Bug Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b93de675-3d03-4ebe-b695-0c3ce452b486",
              "leftValue": "={{$json.wf03_code_assistance.ready_for_qa}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        -80
      ],
      "id": "6fe6a1bb-7ef7-43ca-87cb-8c38c840385d",
      "name": "IF - WF03 Bug Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b19f960-8296-4dce-92e2-990a86a0b966",
              "leftValue": "={{$json.wf04_qa_tests.ready_for_ci_cd}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2496,
        -80
      ],
      "id": "ba7d9a37-9b1b-4f1a-b389-f0f55d3fa0a2",
      "name": "IF - WF04 Bug Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c2ae5a2-e764-4ddc-81c5-333ed46c19e7",
              "leftValue": "={{$json.wf08_repository_update.repository_update_ready}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3088,
        -80
      ],
      "id": "11be8aff-2ed1-4017-81d3-97279274f04b",
      "name": "IF - WF08 Bug Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "126b043d-f663-4585-b473-8d0a5df40cf5",
              "leftValue": "={{$json.wf05_ci_cd.ready_for_review}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3648,
        -80
      ],
      "id": "63ce4196-a0d4-4152-b51b-4ac0e6c166cb",
      "name": "IF - WF05 Bug Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "32bebae4-e09f-4c91-a2b4-91a3485908ad",
              "leftValue": "={{$json.wf04_qa_tests.ready_for_ci_cd}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        288
      ],
      "id": "42b6340e-9379-4b9c-9cfa-bd809d2d1abd",
      "name": "IF - WF04 PR Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2bc3b853-f8a8-4bd4-b328-dd12e9785f5f",
              "leftValue": "={{$json.wf05_ci_cd.ready_for_review}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2832,
        288
      ],
      "id": "52bbcf0c-1f19-4a6a-b457-6e30abc8b5cf",
      "name": "IF - WF05 PR Ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7b4178bf-2e17-4290-a08c-f88aa87222a9",
              "leftValue": "={{$json.wf04_qa_tests.ready_for_ci_cd}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        576
      ],
      "id": "bac1cc23-da95-4924-98d1-5e3ea9c5301c",
      "name": "IF - WF04 Commit Ready"
    }
  ],
  "pinData": {},
  "connections": {
    "Set - Normalize Input": {
      "main": [
        [
          {
            "node": "Switch - Route Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Route Event Type": {
      "main": [
        [
          {
            "node": "Execute - WF01 Requirement Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF01 Bug Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF04 PR QA Tests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF04 Commit QA Tests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 PO Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF01 Requirement Analysis": {
      "main": [
        [
          {
            "node": "IF - WF01 Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF02 Technical Breakdown": {
      "main": [
        [
          {
            "node": "IF - WF02 Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF04 QA Tests": {
      "main": [
        [
          {
            "node": "IF - WF04 Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF01 Bug Analysis": {
      "main": [
        [
          {
            "node": "IF - WF01 Bug Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF03 Bug Code Assistance": {
      "main": [
        [
          {
            "node": "IF - WF03 Bug Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF04 Bug QA Tests": {
      "main": [
        [
          {
            "node": "IF - WF04 Bug Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF04 PR QA Tests": {
      "main": [
        [
          {
            "node": "IF - WF04 PR Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF05 PR CI CD": {
      "main": [
        [
          {
            "node": "Execute - WF07 PR Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF06 PR AI Review": {
      "main": [
        [
          {
            "node": "IF - WF05 PR Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF04 Commit QA Tests": {
      "main": [
        [
          {
            "node": "IF - WF04 Commit Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF05 Commit CI CD": {
      "main": [
        [
          {
            "node": "Execute - WF07 Commit Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF02 Bug Technical Breakdown": {
      "main": [
        [
          {
            "node": "IF - WF02 Bug Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF07 PO Industrial Report": {
      "main": [
        [
          {
            "node": "Respond - Final Orchestration Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF07 Bug Industrial Report": {
      "main": [
        [
          {
            "node": "Respond - Final Orchestration Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF07 PR Industrial Report": {
      "main": [
        [
          {
            "node": "Respond - Final Orchestration Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF07 Industrial Report": {
      "main": [
        [
          {
            "node": "Respond - Final Orchestration Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF07 Commit Industrial Report": {
      "main": [
        [
          {
            "node": "Respond - Final Orchestration Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receive Event": {
      "main": [
        [
          {
            "node": "Set - Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF03 - Code Assistance": {
      "main": [
        [
          {
            "node": "IF - WF03 Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF08 Code Execution / Repository Update": {
      "main": [
        [
          {
            "node": "IF - WF08 Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF05 US CI CD": {
      "main": [
        [
          {
            "node": "IF - WF05 Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF06 US AI Review": {
      "main": [
        [
          {
            "node": "Execute - WF07 Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF08 Bug Code Execution / Repository Update": {
      "main": [
        [
          {
            "node": "IF - WF08 Bug Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF06 Bug AI Review": {
      "main": [
        [
          {
            "node": "Execute - WF07 Bug Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute - WF05 Bug CI CD": {
      "main": [
        [
          {
            "node": "IF - WF05 Bug Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF01 Ready": {
      "main": [
        [
          {
            "node": "Execute - WF02 Technical Breakdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF02 Ready": {
      "main": [
        [
          {
            "node": "Execute - WF03 - Code Assistance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF03 Ready": {
      "main": [
        [
          {
            "node": "Execute - WF04 QA Tests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF04 Ready": {
      "main": [
        [
          {
            "node": "Execute - WF08 Code Execution / Repository Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF08 Ready": {
      "main": [
        [
          {
            "node": "Execute - WF05 US CI CD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF05 Ready": {
      "main": [
        [
          {
            "node": "Execute - WF06 US AI Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF01 Bug Ready": {
      "main": [
        [
          {
            "node": "Execute - WF02 Bug Technical Breakdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Bug Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF02 Bug Ready": {
      "main": [
        [
          {
            "node": "Execute - WF03 Bug Code Assistance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Bug Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF03 Bug Ready": {
      "main": [
        [
          {
            "node": "Execute - WF04 Bug QA Tests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Bug Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF04 Bug Ready": {
      "main": [
        [
          {
            "node": "Execute - WF08 Bug Code Execution / Repository Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Bug Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF08 Bug Ready": {
      "main": [
        [
          {
            "node": "Execute - WF05 Bug CI CD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Bug Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF05 Bug Ready": {
      "main": [
        [
          {
            "node": "Execute - WF06 Bug AI Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Bug Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF04 PR Ready": {
      "main": [
        [
          {
            "node": "Execute - WF06 PR AI Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 PR Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF05 PR Ready": {
      "main": [
        [
          {
            "node": "Execute - WF05 PR CI CD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 PR Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WF04 Commit Ready": {
      "main": [
        [
          {
            "node": "Execute - WF05 Commit CI CD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute - WF07 Commit Industrial Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cc43d659-3374-44cd-8b44-0df4dc574760",
  "meta": {
    "instanceId": "a324427967101c0cf98084651f92c771dbd4ff565d19d67925a4520985aaffb2"
  },
  "id": "UXFuIiu5TmzLyFEo",
  "tags": []
}