workflows/Decentralized system01/WF01 - Requirement Analysis.json
{
  "name": "WF01 - Requirement Analysis",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "6ca53d4f-fccf-490c-bdab-9b15b65e6964",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "643d2f68-90bc-4f79-b3bf-f063bc0a5c02",
              "name": "analysis_scope",
              "value": "requirement_analysis",
              "type": "string"
            },
            {
              "id": "43ab601c-2d03-4e29-a11c-8dee6613753d",
              "name": "input_quality_status",
              "value": "={{($json.title && $json.description) ? \"processable\" : \"incomplete\"}}",
              "type": "string"
            },
            {
              "id": "5690f769-a47f-4cb8-be93-5a30bf4873d8",
              "name": "has_acceptance_criteria",
              "value": "={{!!$json.acceptance_criteria}}",
              "type": "boolean"
            },
            {
              "id": "94ee1c0e-7284-4ba2-b046-b8d0c0cec203",
              "name": "requirement_context",
              "value": "={{`Event type: ${$json.event_type} Project: ${$json.project} Work item ID: ${$json.work_item_id} Title: ${$json.title} Description: ${$json.description} Acceptance criteria: ${$json.acceptance_criteria} Priority: ${$json.priority} Status: ${$json.status}`}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "97b8ef33-9055-4d86-9c90-bde063316107",
      "name": "Set - Prepare Requirement Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea347e2c-0472-465b-931a-d8f5254a754c",
              "leftValue": "={{$json.input_quality_status}}",
              "rightValue": "processable",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "dca54303-3ad7-4f2d-9f48-5464fd4687c6",
      "name": "IF - Input Is Processable"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze the following requirement and determine if it is ready for development.\n\nYour role is to:\n- clarify the requirement\n- evaluate acceptance criteria quality\n- detect ambiguities\n- identify missing information\n- assess risk\n\nReturn ONLY valid JSON with this exact structure:\n\n{\n  \"wf01_requirement_analysis\": {\n    \"requirement_summary\": \"\",\n    \"business_value\": \"\",\n    \"acceptance_criteria_quality\": \"clear | incomplete | missing\",\n    \"ambiguities\": [],\n    \"missing_information\": [],\n    \"questions_for_po\": [],\n    \"ready_for_development\": true,\n    \"risk_level\": \"low | medium | high\",\n    \"human_validation_required\": true\n  }\n}\n\nRequirement context:\n{{$json.requirement_context}}",
        "options": {
          "systemMessage": "You are a senior business analyst working in an AI workflow for developers. \n\nAnalyze the following requirement and determine if it is ready for technical breakdown, development, testing, and CI/CD integration.\n\nReturn only valid JSON with this exact structure:\n\n{\n  \"wf01_requirement_analysis\": {\n    \"requirement_summary\": \"\",\n    \"business_value\": \"\",\n    \"acceptance_criteria_quality\": \"clear | incomplete | missing\",\n    \"ambiguities\": [],\n    \"missing_information\": [],\n    \"questions_for_po\": [],\n    \"ready_for_development\": true,\n    \"risk_level\": \"low | medium | high\",\n    \"human_validation_required\": true\n  }\n}\n\nRequirement context:\n{{$json.requirement_context}}\n\nREMINDER : You are a strict requirement analyst. Return only valid JSON. No markdown. No explanation outside JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        -192
      ],
      "id": "d32ad297-e6b7-4a5a-aee5-3307d438df20",
      "name": "AI Agent - Requirement Analyst"
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $('Set - Prepare Requirement Context').item.json;\nconst current = $input.item.json;\n\nlet aiOutput =\n  current.output ||\n  current.text ||\n  current.message ||\n  current.content ||\n  current.data ||\n  current;\n\nif (typeof aiOutput === 'string') {\n  aiOutput = aiOutput\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  try {\n    aiOutput = JSON.parse(aiOutput);\n  } catch (error) {\n    aiOutput = {\n      wf01_requirement_analysis: {\n        requirement_summary: 'AI output could not be parsed as valid JSON.',\n        business_value: '',\n        acceptance_criteria_quality: 'incomplete',\n        ambiguities: ['Invalid JSON returned by the AI agent.'],\n        missing_information: [],\n        questions_for_po: ['Review the AI output manually and rerun the requirement analysis.'],\n        ready_for_development: false,\n        risk_level: 'high',\n        human_validation_required: true\n      }\n    };\n  }\n}\n\nconst analysis = aiOutput.wf01_requirement_analysis || aiOutput;\n\nreturn {\n  json: {\n    ...originalInput,\n    wf01_requirement_analysis: {\n      requirement_summary: analysis.requirement_summary || '',\n      business_value: analysis.business_value || '',\n      acceptance_criteria_quality: analysis.acceptance_criteria_quality || 'incomplete',\n      ambiguities: Array.isArray(analysis.ambiguities) ? analysis.ambiguities : [],\n      missing_information: Array.isArray(analysis.missing_information) ? analysis.missing_information : [],\n      questions_for_po: Array.isArray(analysis.questions_for_po) ? analysis.questions_for_po : [],\n      ready_for_development: Boolean(analysis.ready_for_development),\n      risk_level: analysis.risk_level || 'medium',\n      human_validation_required: true\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -192
      ],
      "id": "cdae5d64-6d65-4042-90f8-f3074c2a9123",
      "name": "Code - Normalize AI Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f25476d-851f-4dfb-9128-7501b30ed649",
              "name": "wf01_status",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "58e4d6fe-a3d2-429f-afac-7db8f63cda17",
              "name": "next_recommended_workflow",
              "value": "={{$json.wf01_requirement_analysis.ready_for_development ? \"WF02 - Technical Breakdown\" : \"WF07 - Industrial Report\"}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -192
      ],
      "id": "76d19f05-6ce8-49d2-b5af-fba9da2f1aac",
      "name": "Set - Requirement Analysis Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca7b72bb-c2b3-4e5e-96ae-569a5cc56c4d",
              "name": "wf01_status",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "e933deef-d394-4e8c-a43f-3ac1de315578",
              "name": "wf01_requirement_analysis",
              "value": "={{ {   requirement_summary: \"The requirement cannot be analyzed because mandatory input fields are missing.\",   business_value: \"\",   acceptance_criteria_quality: $json.has_acceptance_criteria ? \"incomplete\" : \"missing\",   ambiguities: [\"Missing mandatory input fields.\"],   missing_information: [     !$json.title ? \"title\" : null,     !$json.description ? \"description\" : null   ].filter(Boolean),   questions_for_po: [     \"Please provide a clear title.\",     \"Please provide a detailed description.\",     \"Please provide acceptance criteria if available.\"   ],   ready_for_development: false,   risk_level: \"high\",   human_validation_required: true } }}",
              "type": "object"
            },
            {
              "id": "37c398cf-4ba9-4c64-a444-69d0261040fd",
              "name": "next_recommended_workflow",
              "value": "WF07 - Industrial Report",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        160
      ],
      "id": "8a632232-9a4f-4e0d-bc66-0fc573dbfce7",
      "name": "Set - Blocked Requirement Output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        0
      ],
      "id": "1377103a-c68e-404d-ab52-1a4f002b6179",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Qb3hMgLKJ6BfF5wu",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set - Prepare Requirement Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Prepare Requirement Context": {
      "main": [
        [
          {
            "node": "IF - Input Is Processable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Input Is Processable": {
      "main": [
        [
          {
            "node": "AI Agent - Requirement Analyst",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Blocked Requirement Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Requirement Analyst": {
      "main": [
        [
          {
            "node": "Code - Normalize AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize AI Output": {
      "main": [
        [
          {
            "node": "Set - Requirement Analysis Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Requirement Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "60f13f61-0e66-4edf-8bb2-c895c8c18b08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a324427967101c0cf98084651f92c771dbd4ff565d19d67925a4520985aaffb2"
  },
  "id": "bf03XSaA3R6jMTYd",
  "tags": []
}