workflows/Decentralized system01/WF02 - Technical Breakdown.json
{
  "name": "WF02 - Technical Breakdown",
  "nodes": [
    {
      "parameters": {},
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e997148-aeda-49e1-833c-e6bd8edeb902",
              "name": "analysis_scope",
              "value": "technical_breakdown",
              "type": "string"
            },
            {
              "id": "d09e0f22-25cd-4b40-a503-ba0187a1b1f9",
              "name": "requirement_ready",
              "value": "={{$json.wf01_requirement_analysis.ready_for_development}}",
              "type": "boolean"
            },
            {
              "id": "8ff83a96-666d-4758-a239-1bb8f5141ec4",
              "name": "technical_context",
              "value": "={{`Project: ${$json.project}\nEvent type: ${$json.event_type}\nWork item ID: ${$json.work_item_id}\nTitle: ${$json.title}\nDescription: ${$json.description}\nAcceptance criteria: ${$json.acceptance_criteria}\n\nRequirement summary:\n${$json.wf01_requirement_analysis?.requirement_summary || \"\"}\n\nBusiness value:\n${$json.wf01_requirement_analysis?.business_value || \"\"}\n\nAmbiguities:\n${JSON.stringify($json.wf01_requirement_analysis?.ambiguities || [])}\n\nMissing information:\n${JSON.stringify($json.wf01_requirement_analysis?.missing_information || [])}\n\nRisk level:\n${$json.wf01_requirement_analysis?.risk_level || \"medium\"}`}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "fd5cf95c-7561-486c-b1d8-08c6ae234108",
      "name": "Set - Prepare Technical Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3713e1cf-79c0-485e-b1aa-6dca9774534f",
              "leftValue": "={{$json.requirement_ready}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        352
      ],
      "id": "0b3c9a13-1ad9-4e16-9e4f-ce7478a5c5ac",
      "name": "IF - Requirement Ready"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze the validated requirement and create the technical breakdown.\n\nYou must generate:\n- development tasks\n- QA tasks\n- TDD recommendations\n- Git strategy\n- CI/CD expectations",
        "options": {
          "systemMessage": "You are a senior software architect working in an AI workflow for developers.\n\nYour role is to transform a validated requirement into a complete technical breakdown.\n\nYou must produce tasks for:\n- development\n- testing (TDD)\n- Git workflow\n- CI/CD\n\nIMPORTANT:\n- Return ONLY valid JSON\n- No markdown\n- No explanation\n\nJSON structure:\n\n{\n  \"wf02_technical_breakdown\": {\n    \"architecture_summary\": \"\",\n    \"dev_tasks\": [\n      {\n        \"title\": \"\",\n        \"description\": \"\",\n        \"estimated_complexity\": \"S | M | L\",\n        \"dependencies\": []\n      }\n    ],\n    \"qa_tasks\": [\n      {\n        \"title\": \"\",\n        \"test_type\": \"unit | integration | api | ui | regression\",\n        \"description\": \"\"\n      }\n    ],\n    \"tdd_recommendations\": [],\n    \"git_strategy\": {\n      \"suggested_branch_name\": \"\",\n      \"commit_guidelines\": [],\n      \"pull_request_checklist\": []\n    },\n    \"ci_cd_expectations\": {\n      \"pipeline_steps\": [],\n      \"quality_gates\": [],\n      \"deployment_notes\": []\n    },\n    \"suggested_files_to_change\": [],\n    \"technical_risks\": [],\n    \"architecture_impact\": \"low | medium | high\",\n    \"estimated_story_points\": 1,\n    \"ready_for_code_assistance\": true,\n    \"human_validation_required\": true\n  }\n}\n\nTechnical context:\n{{$json.technical_context}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        128
      ],
      "id": "7db6b255-e41e-4385-a318-5ef7bcc4ef0a",
      "name": "AI Agent - Software Architect",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        992,
        352
      ],
      "id": "b1ebc076-e1af-4c58-90ba-e2c192a7e9da",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "p0mzco8CfGCSmy9I",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $('Set - Prepare Technical Context').item.json;\nconst current = $input.item.json;\n\nlet aiOutput =\n  current.output ||\n  current.text ||\n  current.message ||\n  current.content ||\n  current.data ||\n  current;\n\nif (typeof aiOutput === 'string') {\n  aiOutput = aiOutput\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  try {\n    aiOutput = JSON.parse(aiOutput);\n  } catch (error) {\n    aiOutput = {\n      wf02_technical_breakdown: {\n        architecture_summary: 'AI output could not be parsed as valid JSON.',\n        dev_tasks: [],\n        qa_tasks: [],\n        tdd_recommendations: [],\n        git_strategy: {\n          suggested_branch_name: '',\n          commit_guidelines: [],\n          pull_request_checklist: []\n        },\n        ci_cd_expectations: {\n          pipeline_steps: [],\n          quality_gates: [],\n          deployment_notes: []\n        },\n        suggested_files_to_change: [],\n        technical_risks: ['Invalid JSON returned by the AI agent.'],\n        architecture_impact: 'high',\n        estimated_story_points: 0,\n        ready_for_code_assistance: false,\n        human_validation_required: true\n      }\n    };\n  }\n}\n\nconst breakdown = aiOutput.wf02_technical_breakdown || aiOutput;\n\nreturn {\n  json: {\n    ...originalInput,\n    wf02_technical_breakdown: {\n      architecture_summary: breakdown.architecture_summary || '',\n      dev_tasks: Array.isArray(breakdown.dev_tasks) ? breakdown.dev_tasks : [],\n      qa_tasks: Array.isArray(breakdown.qa_tasks) ? breakdown.qa_tasks : [],\n      tdd_recommendations: Array.isArray(breakdown.tdd_recommendations) ? breakdown.tdd_recommendations : [],\n      git_strategy: breakdown.git_strategy || {\n        suggested_branch_name: '',\n        commit_guidelines: [],\n        pull_request_checklist: []\n      },\n      ci_cd_expectations: breakdown.ci_cd_expectations || {\n        pipeline_steps: [],\n        quality_gates: [],\n        deployment_notes: []\n      },\n      suggested_files_to_change: Array.isArray(breakdown.suggested_files_to_change) ? breakdown.suggested_files_to_change : [],\n      technical_risks: Array.isArray(breakdown.technical_risks) ? breakdown.technical_risks : [],\n      architecture_impact: breakdown.architecture_impact || 'medium',\n      estimated_story_points: Number(breakdown.estimated_story_points || 0),\n      ready_for_code_assistance: Boolean(breakdown.ready_for_code_assistance),\n      human_validation_required: true\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        128
      ],
      "id": "ee458681-dcf9-4274-9fa5-3bc984b40247",
      "name": "Code - Normalize Technical Breakdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "feec6c3a-5cb5-4383-9a63-c1fe67d637bd",
              "name": "wf02_status",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "18eee7f9-829e-45b0-98eb-cfa843969979",
              "name": "next_recommended_workflow",
              "value": "={{$json.wf02_technical_breakdown.ready_for_code_assistance\n? \"WF03 - Code Assistance\"\n: \"WF07 - Industrial Report\"}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        128
      ],
      "id": "55103cfb-a4c5-4fa4-9dcd-5cf9b7b6e6d1",
      "name": "Set - Technical Breakdown Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04835899-d696-4674-bdcb-53a440306221",
              "name": "wf02_status",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "6c4411da-bb33-4bcc-9070-a750e16faf8b",
              "name": "wf02_technical_breakdown",
              "value": "={{ {   architecture_summary: \"Technical breakdown cannot be produced because the requirement is not ready for development.\",   dev_tasks: [],   qa_tasks: [],   tdd_recommendations: [],   git_strategy: {     suggested_branch_name: \"\",     commit_guidelines: [],     pull_request_checklist: []   },   ci_cd_expectations: {     pipeline_steps: [],     quality_gates: [],     deployment_notes: []   },   suggested_files_to_change: [],   technical_risks: [     \"Requirement is incomplete or blocked in WF01.\"   ],   architecture_impact: \"unknown\",   estimated_story_points: 0,   ready_for_code_assistance: false,   human_validation_required: true } }}",
              "type": "object"
            },
            {
              "id": "1fd02e28-bfd0-496a-87cc-b702776890a1",
              "name": "next_recommended_workflow",
              "value": "WF07 - Industrial Report",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        544
      ],
      "id": "72b8c51c-c737-475b-8aae-d7e994273043",
      "name": "Set - Blocked Technical Breakdown Output"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set - Prepare Technical Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Prepare Technical Context": {
      "main": [
        [
          {
            "node": "IF - Requirement Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Requirement Ready": {
      "main": [
        [
          {
            "node": "AI Agent - Software Architect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Blocked Technical Breakdown Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Software Architect",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Software Architect": {
      "main": [
        [
          {
            "node": "Code - Normalize Technical Breakdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Technical Breakdown": {
      "main": [
        [
          {
            "node": "Set - Technical Breakdown Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0efa424e-0ce7-4bee-822a-a39f6a98c65a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a324427967101c0cf98084651f92c771dbd4ff565d19d67925a4520985aaffb2"
  },
  "id": "RFboY4yGVvmi7pa6",
  "tags": []
}