workflows/Decentralized system01/WF03 - Code Assistance.json
{
  "name": "WF03 - Code Assistance",
  "nodes": [
    {
      "parameters": {},
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69f11b26-8d89-49ab-a690-0cabac796c19",
              "name": "analysis_scope",
              "value": "code_assistance",
              "type": "string"
            },
            {
              "id": "8a01543c-1ce3-467c-977f-993f875a7f75",
              "name": "ready_for_code_assistance",
              "value": "={{$json.wf02_technical_breakdown.ready_for_code_assistance}}",
              "type": "boolean"
            },
            {
              "id": "8321f67e-afc0-4534-b60f-2244f5118af5",
              "name": "code_context",
              "value": "={{`Project: ${$json.project}\nEvent type: ${$json.event_type}\nWork item ID: ${$json.work_item_id}\nTitle: ${$json.title}\nDescription: ${$json.description}\nAcceptance criteria: ${$json.acceptance_criteria}\n\nRequirement analysis:\n${JSON.stringify($json.wf01_requirement_analysis || {}, null, 2)}\n\nTechnical breakdown:\n${JSON.stringify($json.wf02_technical_breakdown || {}, null, 2)}\n\nRepository:\n${$json.repository || \"\"}\n\nBranch:\n${$json.branch || \"\"}`}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "809925dc-f010-4aa8-a553-3cf9a6a6ddba",
      "name": "Set - Prepare Code Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "beb50805-31a6-486b-838d-26d0334f1b05",
              "leftValue": "={{$json.ready_for_code_assistance}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        352
      ],
      "id": "9cf30d71-0710-4e9c-adc4-437b20a9099e",
      "name": "IF - Ready For Code Assistance"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Create a code assistance proposal for the following development context.\n\nThe proposal must support:\n- code implementation\n- refactoring if needed\n- TDD-oriented development\n- Git workflow\n- human validation before any real change\n\nReturn only valid JSON with this exact structure:\n\n{\n  \"wf03_code_assistance\": {\n    \"implementation_strategy\": \"\",\n    \"refactoring_recommendations\": [],\n    \"files_to_create\": [],\n    \"files_to_modify\": [],\n    \"pseudo_code\": \"\",\n    \"patch_proposal\": \"\",\n    \"unit_test_suggestions\": [],\n    \"integration_test_suggestions\": [],\n    \"git_actions\": {\n      \"suggested_branch_name\": \"\",\n      \"commit_message\": \"\",\n      \"pull_request_title\": \"\",\n      \"pull_request_description\": \"\"\n    },\n    \"risks\": [],\n    \"requires_human_approval\": true,\n    \"ready_for_qa\": true\n  }\n}\n\nCode context:\n{{$json.code_context}}",
        "options": {
          "systemMessage": "You are a senior full-stack developer working in an AI workflow for developers.\n\nYour role is to propose an implementation plan and code assistance based on a validated technical breakdown.\n\nYou must not claim that changes were applied.\nYou must not merge, deploy, or modify production code.\nReturn only valid JSON. No markdown. No explanation outside JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        144
      ],
      "id": "af8f3325-2a42-4ee0-b1ad-f7781efd1185",
      "name": "AI Agent - Code Assistant"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        960,
        368
      ],
      "id": "6deb8fb4-615e-45bc-8f26-53c7638aaced",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Qb3hMgLKJ6BfF5wu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $('Set - Prepare Code Context').item.json;\nconst current = $input.item.json;\n\nlet aiOutput =\n  current.output ||\n  current.text ||\n  current.message ||\n  current.content ||\n  current.data ||\n  current;\n\nif (typeof aiOutput === 'string') {\n  aiOutput = aiOutput\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  try {\n    aiOutput = JSON.parse(aiOutput);\n  } catch (error) {\n    aiOutput = {\n      wf03_code_assistance: {\n        implementation_strategy: 'AI output could not be parsed as valid JSON.',\n        refactoring_recommendations: [],\n        files_to_create: [],\n        files_to_modify: [],\n        pseudo_code: '',\n        patch_proposal: '',\n        unit_test_suggestions: [],\n        integration_test_suggestions: [],\n        git_actions: {\n          suggested_branch_name: '',\n          commit_message: '',\n          pull_request_title: '',\n          pull_request_description: ''\n        },\n        risks: ['Invalid JSON returned by the AI agent.'],\n        requires_human_approval: true,\n        ready_for_qa: false\n      }\n    };\n  }\n}\n\nconst assistance = aiOutput.wf03_code_assistance || aiOutput;\n\nreturn {\n  json: {\n    ...originalInput,\n    wf03_code_assistance: {\n      implementation_strategy: assistance.implementation_strategy || '',\n      refactoring_recommendations: Array.isArray(assistance.refactoring_recommendations) ? assistance.refactoring_recommendations : [],\n      files_to_create: Array.isArray(assistance.files_to_create) ? assistance.files_to_create : [],\n      files_to_modify: Array.isArray(assistance.files_to_modify) ? assistance.files_to_modify : [],\n      pseudo_code: assistance.pseudo_code || '',\n      patch_proposal: assistance.patch_proposal || '',\n      unit_test_suggestions: Array.isArray(assistance.unit_test_suggestions) ? assistance.unit_test_suggestions : [],\n      integration_test_suggestions: Array.isArray(assistance.integration_test_suggestions) ? assistance.integration_test_suggestions : [],\n      git_actions: assistance.git_actions || {\n        suggested_branch_name: '',\n        commit_message: '',\n        pull_request_title: '',\n        pull_request_description: ''\n      },\n      risks: Array.isArray(assistance.risks) ? assistance.risks : [],\n      requires_human_approval: true,\n      ready_for_qa: Boolean(assistance.ready_for_qa)\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        144
      ],
      "id": "a5d9a197-8d89-429a-88d6-4e1128b2ec3f",
      "name": "Code - Normalize Code Assistance"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa0d9dad-44f4-483f-b96e-bdfa5d3eabca",
              "name": "wf03_status",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "128c27c0-c298-4bf6-a4dd-c5e6cf2e4393",
              "name": "next_recommended_workflow",
              "value": "={{$json.wf03_code_assistance.ready_for_qa ? \"WF04 - QA Tests\" : \"WF07 - Industrial Report\"}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        144
      ],
      "id": "e82e28c8-bbe8-41bb-96a4-00cc0ac2af01",
      "name": "Set - Code Assistance Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3266b59e-47f2-4679-b541-39b3ba4146d1",
              "name": "wf03_status",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "5b175805-90c9-401d-a002-f2e644b32476",
              "name": "wf03_code_assistance",
              "value": "={{ {   implementation_strategy: \"Code assistance cannot be produced because the technical breakdown is not ready.\",   refactoring_recommendations: [],   files_to_create: [],   files_to_modify: [],   pseudo_code: \"\",   patch_proposal: \"\",   unit_test_suggestions: [],   integration_test_suggestions: [],   git_actions: {     suggested_branch_name: \"\",     commit_message: \"\",     pull_request_title: \"\",     pull_request_description: \"\"   },   risks: [     \"Technical breakdown is incomplete or blocked in WF02.\"   ],   requires_human_approval: true,   ready_for_qa: false } }}",
              "type": "object"
            },
            {
              "id": "f11728eb-1b8b-413a-bc83-fb073e7e367b",
              "name": "next_recommended_workflow",
              "value": "WF07 - Industrial Report",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        560
      ],
      "id": "45fd1c01-3fc9-4e3d-acd8-5a2ea3807dbc",
      "name": "Set - Blocked Code Assistance Output"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set - Prepare Code Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Prepare Code Context": {
      "main": [
        [
          {
            "node": "IF - Ready For Code Assistance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ready For Code Assistance": {
      "main": [
        [
          {
            "node": "AI Agent - Code Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Blocked Code Assistance Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Code Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Code Assistant": {
      "main": [
        [
          {
            "node": "Code - Normalize Code Assistance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Code Assistance": {
      "main": [
        [
          {
            "node": "Set - Code Assistance Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3afa1b24-3944-424c-95c4-0286e56e3a05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a324427967101c0cf98084651f92c771dbd4ff565d19d67925a4520985aaffb2"
  },
  "id": "zNlXNuMZVrcrQ0F3",
  "tags": []
}