workflows/Decentralized system01/WF04 - QA Tests.json
{
  "name": "WF04 - QA Tests",
  "nodes": [
    {
      "parameters": {},
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93f1d99e-6776-4752-b918-db8f99c3fb32",
              "name": "analysis_scope",
              "value": "qa_tests",
              "type": "string"
            },
            {
              "id": "756f60f3-4a93-49ef-be17-2d05ef3116f0",
              "name": "ready_for_qa",
              "value": "={{$json.wf03_code_assistance.ready_for_qa}}",
              "type": "boolean"
            },
            {
              "id": "d962dd6a-9e94-4b18-84b2-443126fc9965",
              "name": "qa_context",
              "value": "={{`Project: ${$json.project}\nWork item ID: ${$json.work_item_id}\nTitle: ${$json.title}\n\nAcceptance criteria:\n${$json.acceptance_criteria}\n\nRequirement analysis:\n${JSON.stringify($json.wf01_requirement_analysis || {}, null, 2)}\n\nTechnical breakdown:\n${JSON.stringify($json.wf02_technical_breakdown || {}, null, 2)}\n\nCode assistance:\n${JSON.stringify($json.wf03_code_assistance || {}, null, 2)}`}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "9e27158d-e2b5-4b1d-b7c1-29acd363ec58",
      "name": "Set - Prepare QA Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab6db670-7d4b-44e4-8a94-07cff3020b6e",
              "leftValue": "={{$json.ready_for_qa}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        352
      ],
      "id": "51b83277-aa20-4b12-b0fd-10333a270080",
      "name": "IF - Ready For QA"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate QA tests and validation strategy for the following development context.\n\nYou must:\n- create unit tests\n- create integration tests\n- create API/UI tests if relevant\n- verify acceptance criteria coverage\n- detect missing test cases\n\nReturn ONLY valid JSON with this structure:\n\n{\n  \"wf04_qa_tests\": {\n    \"unit_tests\": [],\n    \"integration_tests\": [],\n    \"api_tests\": [],\n    \"ui_tests\": [],\n    \"test_scenarios\": [],\n    \"acceptance_criteria_coverage\": {\n      \"covered\": [],\n      \"missing\": []\n    },\n    \"test_data_requirements\": [],\n    \"automation_recommendations\": [],\n    \"ready_for_ci_cd\": true,\n    \"human_validation_required\": true\n  }\n}\n\nTests must be written before implementation (TDD approach).\nEach test must clearly map to an acceptance criterion.\n\nQA context:\n{{$json.qa_context}}",
        "options": {
          "systemMessage": "You are a senior QA engineer working in an AI workflow for developers.\n\nYour role is to:\n- design test cases\n- follow TDD principles\n- validate acceptance criteria coverage\n- detect missing test scenarios\n\nReturn ONLY valid JSON. No markdown. No explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        144
      ],
      "id": "f1b273e6-1465-441e-9282-ee5a4c3ce08f",
      "name": "AI Agent - QA Engineer"
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        928,
        352
      ],
      "id": "cc3bfa1f-e36d-4baa-b76e-1420b6dfefdc",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "p0mzco8CfGCSmy9I",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $('Set - Prepare QA Context').item.json;\nconst current = $input.item.json;\n\nlet aiOutput =\n  current.output ||\n  current.text ||\n  current.message ||\n  current.content ||\n  current.data ||\n  current;\n\nif (typeof aiOutput === 'string') {\n  aiOutput = aiOutput\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  try {\n    aiOutput = JSON.parse(aiOutput);\n  } catch (error) {\n    aiOutput = {\n      wf04_qa_tests: {\n        unit_tests: [],\n        integration_tests: [],\n        api_tests: [],\n        ui_tests: [],\n        test_scenarios: [],\n        acceptance_criteria_coverage: {\n          covered: [],\n          missing: [\"Invalid JSON from AI\"]\n        },\n        test_data_requirements: [],\n        automation_recommendations: [],\n        ready_for_ci_cd: false,\n        human_validation_required: true\n      }\n    };\n  }\n}\n\nconst qa = aiOutput.wf04_qa_tests || aiOutput;\nconst hasCoverageIssue = qa.acceptance_criteria_coverage?.missing?.length > 0;\nconst readyForCiCd = Boolean(qa.ready_for_ci_cd) && !hasCoverageIssue;\n\nreturn {\n  json: {\n    ...originalInput,\n    wf04_qa_tests: {\n      unit_tests: Array.isArray(qa.unit_tests) ? qa.unit_tests : [],\n      integration_tests: Array.isArray(qa.integration_tests) ? qa.integration_tests : [],\n      api_tests: Array.isArray(qa.api_tests) ? qa.api_tests : [],\n      ui_tests: Array.isArray(qa.ui_tests) ? qa.ui_tests : [],\n      test_scenarios: Array.isArray(qa.test_scenarios) ? qa.test_scenarios : [],\n      acceptance_criteria_coverage: qa.acceptance_criteria_coverage || { covered: [], missing: [] },\n      test_data_requirements: Array.isArray(qa.test_data_requirements) ? qa.test_data_requirements : [],\n      automation_recommendations: Array.isArray(qa.automation_recommendations) ? qa.automation_recommendations : [],\n      human_validation_required: true,\n      ready_for_ci_cd: readyForCiCd\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        144
      ],
      "id": "a7384204-238d-4e76-966f-39a11d6656b6",
      "name": "Code - Normalize QA Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35e3b107-58dc-46d7-9c70-6128882924d0",
              "name": "wf04_status",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "896165e7-9c8f-40ea-9360-3e04c731c4b6",
              "name": "next_recommended_workflow",
              "value": "={{$json.wf04_qa_tests.ready_for_ci_cd ? \"WF05 - CI/CD\" : \"WF07 - Industrial Report\"}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        144
      ],
      "id": "d2b52d57-bbde-405b-ba32-4a0ac7c32464",
      "name": "Set - QA Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eef266c6-2957-4f8e-9a43-7c74cb801f04",
              "name": "wf04_status",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "791b901e-2b3a-480e-9e4c-babe9348e1f8",
              "name": "wf04_qa_tests",
              "value": "={{ {   unit_tests: [],   integration_tests: [],   api_tests: [],   ui_tests: [],   test_scenarios: [],   acceptance_criteria_coverage: {     covered: [],     missing: [\"QA cannot start because WF03 is not ready\"]   },   test_data_requirements: [],   automation_recommendations: [],   ready_for_ci_cd: false,   human_validation_required: true } }}",
              "type": "object"
            },
            {
              "id": "910c5281-38cf-462b-b9e8-1666ea010cad",
              "name": "next_recommended_workflow",
              "value": "WF07 - Industrial Report",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        544
      ],
      "id": "c1fb0cac-cb58-4d56-bd63-5846181bdd35",
      "name": "Set - Blocked QA Output"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set - Prepare QA Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Prepare QA Context": {
      "main": [
        [
          {
            "node": "IF - Ready For QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ready For QA": {
      "main": [
        [
          {
            "node": "AI Agent - QA Engineer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Blocked QA Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - QA Engineer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - QA Engineer": {
      "main": [
        [
          {
            "node": "Code - Normalize QA Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize QA Output": {
      "main": [
        [
          {
            "node": "Set - QA Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "724d227f-5856-416f-bc94-c48be76a262c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a324427967101c0cf98084651f92c771dbd4ff565d19d67925a4520985aaffb2"
  },
  "id": "Yjoi1KPbRtj3mwxh",
  "tags": []
}