workflows/Decentralized system01/WF05 - CI CD.json
{
  "name": "WF05 - CI CD",
  "nodes": [
    {
      "parameters": {},
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be99d5b4-3e44-4b4e-8686-2ad2c8eee2e0",
              "name": "analysis_scope",
              "value": "ci_cd",
              "type": "string"
            },
            {
              "id": "a0c30db1-f9dd-4e8f-b9c3-941db7721dc5",
              "name": "ready_for_ci_cd",
              "value": "={{\n  $json.wf04_qa_tests.ready_for_ci_cd \n  && $json.wf08_repository_update.repository_update_ready\n}}",
              "type": "boolean"
            },
            {
              "id": "a72f7bd8-6745-494d-a196-752c0136659c",
              "name": "ci_context",
              "value": "={{`Project: ${$json.project}\nWork item ID: ${$json.work_item_id}\n\nRepository:\n${$json.repository || \"\"}\n\nBranch:\n${$json.wf08_repository_update.target_branch || $json.branch || \"main\"}\n\nCommands:\n${JSON.stringify($json.wf08_repository_update.commands_to_run || [], null, 2)}\n\nFiles:\n${JSON.stringify($json.wf08_repository_update.file_changes || [], null, 2)}`}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "e484efbd-c344-4f5a-9826-24c7ca3901f2",
      "name": "Set - Prepare CI Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5639eaac-16d6-40bd-bdb6-64c979ce3f1f",
              "leftValue": "={{$json.ready_for_ci_cd}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        352
      ],
      "id": "4f86ccbd-ce54-4901-949a-a0a9446aed0c",
      "name": "IF - Ready For CI/CD"
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $('Set - Prepare CI Context').item.json;\n\nconst commands = originalInput.wf08_repository_update?.commands_to_run || [];\nconst repository = originalInput.repository || \"\";\n\nlet executionLog = [];\nlet success = true;\n\nif (!repository) {\n  success = false;\n  executionLog.push(\"[ERROR] No repository provided. CI/CD cannot run.\");\n}\n\nif (!commands.length) {\n  success = false;\n  executionLog.push(\"[ERROR] No commands defined by WF08. Pipeline is invalid.\");\n}\n\nif (success) {\n  for (const cmd of commands) {\n    executionLog.push(`[INFO] Executing: ${cmd}`);\n\n    const normalizedCmd = String(cmd).toLowerCase();\n\n    if (\n      normalizedCmd.includes(\"fail\") ||\n      normalizedCmd.includes(\"error\") ||\n      normalizedCmd.includes(\"undefined\")\n    ) {\n      success = false;\n      executionLog.push(`[ERROR] Command failed: ${cmd}`);\n      break;\n    }\n\n    executionLog.push(`[SUCCESS] Command completed: ${cmd}`);\n  }\n}\n\nreturn {\n  json: {\n    ...originalInput,\n    ci_execution: {\n      commands_executed: commands,\n      logs: executionLog,\n      success: success,\n      execution_mode: \"simulated\"\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        256
      ],
      "id": "c9b662db-e836-483e-a1d7-896ac312ff1e",
      "name": "Code - Execute Commands"
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $input.item.json;\nconst ci = originalInput.ci_execution || {};\n\nreturn {\n  json: {\n    ...originalInput,\n    wf05_ci_cd: {\n      status: ci.success ? \"success\" : \"failed\",\n      logs: ci.logs || [],\n      commands_executed: ci.commands_executed || [],\n      execution_mode: ci.execution_mode || \"simulated\",\n      ready_for_review: Boolean(ci.success),\n      human_validation_required: true\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        256
      ],
      "id": "596a4069-3bb1-4348-af07-b0d0cbfb6a4a",
      "name": "Code - Normalize CI Result"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2388176-f4db-4866-b348-930fda6f6768",
              "name": "wf05_status",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "7599f639-3e48-49ac-83fa-f1cda5de9140",
              "name": "next_recommended_workflow",
              "value": "={{$json.wf05_ci_cd.ready_for_review ? \"WF06 - AI Review\" : \"WF07 - Industrial Report\"}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        256
      ],
      "id": "11bbd852-3f6d-4a68-834b-d0dbf1a7b910",
      "name": "Set - CI Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6aad76d8-e696-4762-aa07-74649469e6d3",
              "name": "wf05_status",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "5bf1bad6-b4da-4017-8bc7-b060c0b8a1c5",
              "name": "wf05_ci_cd",
              "value": "={{ {   status: \"blocked\",   logs: [\"CI/CD cannot run because repository update is not ready.\"],   commands_executed: [],   execution_mode: \"none\",   ready_for_review: false,   human_validation_required: true } }}",
              "type": "object"
            },
            {
              "id": "dec1c95b-b8d6-4afc-b8a3-63fff8acd9cf",
              "name": "next_recommended_workflow",
              "value": "WF07 - Industrial Report",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        448
      ],
      "id": "1bd8394c-06bd-434e-8826-def5d41508ee",
      "name": "Set - Blocked CI Output"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set - Prepare CI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Prepare CI Context": {
      "main": [
        [
          {
            "node": "IF - Ready For CI/CD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ready For CI/CD": {
      "main": [
        [
          {
            "node": "Code - Execute Commands",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Blocked CI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Execute Commands": {
      "main": [
        [
          {
            "node": "Code - Normalize CI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize CI Result": {
      "main": [
        [
          {
            "node": "Set - CI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "266cd004-6ee2-44c3-bd6c-2bb3ba3fc723",
  "meta": {
    "instanceId": "a324427967101c0cf98084651f92c771dbd4ff565d19d67925a4520985aaffb2"
  },
  "id": "tUfcKfQuHelWKkfb",
  "tags": []
}