workflows/Decentralized system01/WF06 - AI Review.json
{
  "name": "WF06 - AI Review",
  "nodes": [
    {
      "parameters": {},
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25b62fdd-c5f2-46c3-82ab-07e1b04d73e7",
              "name": "analysis_scope",
              "value": "ai_review",
              "type": "string"
            },
            {
              "id": "bd2f8d0b-47cc-48fc-b6bb-841965a0456c",
              "name": "ready_for_ai_review",
              "value": "={{$json.wf05_ci_cd.ready_for_review}}",
              "type": "boolean"
            },
            {
              "id": "005c3475-0107-4836-8455-837be7b5d0b4",
              "name": "review_context",
              "value": "={{`Project: ${$json.project}\nWork item ID: ${$json.work_item_id}\nTitle: ${$json.title}\n\nRequirement analysis:\n${JSON.stringify($json.wf01_requirement_analysis || {}, null, 2)}\n\nTechnical breakdown:\n${JSON.stringify($json.wf02_technical_breakdown || {}, null, 2)}\n\nCode assistance:\n${JSON.stringify($json.wf03_code_assistance || {}, null, 2)}\n\nQA tests:\n${JSON.stringify($json.wf04_qa_tests || {}, null, 2)}\n\nRepository update:\n${JSON.stringify($json.wf08_repository_update || {}, null, 2)}\n\nCI/CD result:\n${JSON.stringify($json.wf05_ci_cd || {}, null, 2)}`}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "8b697dbb-9353-4621-bbf4-f4c3fe946602",
      "name": "Set - Prepare Review Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "75886640-d038-49ec-ae36-a56a3da433c8",
              "leftValue": "={{$json.ready_for_ai_review}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        352
      ],
      "id": "dadb0db7-c51b-4481-827b-1a56ab43bb10",
      "name": "IF - Ready For AI Review"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Review the full AI software factory execution context.\n\nYou must determine whether the generated application is ready for human validation and delivery.\n\nReturn ONLY valid JSON with this structure:\n\n{\n  \"wf06_ai_review\": {\n    \"quality_review\": {\n      \"status\": \"passed | warning | failed\",\n      \"findings\": []\n    },\n    \"security_review\": {\n      \"status\": \"passed | warning | failed\",\n      \"findings\": []\n    },\n    \"architecture_review\": {\n      \"status\": \"passed | warning | failed\",\n      \"findings\": []\n    },\n    \"test_review\": {\n      \"status\": \"passed | warning | failed\",\n      \"findings\": []\n    },\n    \"ci_cd_review\": {\n      \"status\": \"passed | warning | failed\",\n      \"findings\": []\n    },\n    \"blocking_issues\": [],\n    \"recommendation\": \"approve | request_changes | block\",\n    \"ready_for_delivery\": true,\n    \"human_validation_required\": true\n  }\n}\n\nEach finding must be precise, actionable, and mapped to a specific part of the system.\n\nReview context:\n{{$json.review_context}}",
        "options": {
          "systemMessage": "You are a senior software quality reviewer working in an AI software factory.\n\nYour role is to evaluate the generated application proposal, test strategy, CI/CD result, and overall delivery readiness.\n\nYou must review:\n- code quality\n- architecture consistency\n- security risks\n- test coverage\n- maintainability\n- delivery readiness\n\nReturn ONLY valid JSON. No markdown. No explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        144
      ],
      "id": "59f90cb2-411d-40c8-850b-e8337a547883",
      "name": "AI Agent - AI Reviewer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        944,
        352
      ],
      "id": "25d3d900-29e3-489f-a054-38bfe577c473",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Qb3hMgLKJ6BfF5wu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $('Set - Prepare Review Context').item.json;\nconst current = $input.item.json;\n\nlet aiOutput =\n  current.output ||\n  current.text ||\n  current.message ||\n  current.content ||\n  current.data ||\n  current;\n\nif (typeof aiOutput === 'string') {\n  aiOutput = aiOutput\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  try {\n    aiOutput = JSON.parse(aiOutput);\n  } catch (error) {\n    aiOutput = {\n      wf06_ai_review: {\n        quality_review: {\n          status: 'failed',\n          findings: ['AI output could not be parsed as valid JSON.']\n        },\n        security_review: {\n          status: 'warning',\n          findings: []\n        },\n        architecture_review: {\n          status: 'warning',\n          findings: []\n        },\n        test_review: {\n          status: 'warning',\n          findings: []\n        },\n        ci_cd_review: {\n          status: 'warning',\n          findings: []\n        },\n        blocking_issues: ['Invalid JSON returned by AI reviewer.'],\n        recommendation: 'block',\n        ready_for_delivery: false,\n        human_validation_required: true\n      }\n    };\n  }\n}\n\nconst review = aiOutput.wf06_ai_review || aiOutput;\n\nconst defaultSection = {\n  status: 'warning',\n  findings: []\n};\n\nreturn {\n  json: {\n    ...originalInput,\n    wf06_ai_review: {\n      quality_review: review.quality_review || defaultSection,\n      security_review: review.security_review || defaultSection,\n      architecture_review: review.architecture_review || defaultSection,\n      test_review: review.test_review || defaultSection,\n      ci_cd_review: review.ci_cd_review || defaultSection,\n      blocking_issues: Array.isArray(review.blocking_issues) ? review.blocking_issues : [],\n      recommendation: review.recommendation || 'request_changes',\n      ready_for_delivery: Boolean(review.ready_for_delivery),\n      human_validation_required: true\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        144
      ],
      "id": "3686a5c0-f4bb-4784-90f2-8b6e202a4b6e",
      "name": "Code - Normalize Review Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03fb0878-6eed-49f1-9b6e-450cac0e0da4",
              "name": "wf06_status",
              "value": "completed",
              "type": "string"
            },
            {
              "id": "c1970f82-b0c3-44e8-845e-9b8e0eea41b7",
              "name": "next_recommended_workflow",
              "value": "WF07 - Industrial Report",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        144
      ],
      "id": "675c08bc-2d83-4f04-be82-3e4f507bc9ba",
      "name": "Set - AI Review Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccd8d0a2-cb74-4aeb-931c-b385f001d515",
              "name": "wf06_status",
              "value": "blocked",
              "type": "string"
            },
            {
              "id": "bdeb6788-0159-424b-a9c4-8afb97096fee",
              "name": "wf06_ai_review",
              "value": "={{\n{\n  quality_review: {\n    status: \"failed\",\n    findings: [\"AI review cannot run because CI/CD is not ready for review.\"]\n  },\n  security_review: {\n    status: \"warning\",\n    findings: []\n  },\n  architecture_review: {\n    status: \"warning\",\n    findings: []\n  },\n  test_review: {\n    status: \"warning\",\n    findings: []\n  },\n  ci_cd_review: {\n    status: \"failed\",\n    findings: [\"CI/CD did not produce a successful review-ready result.\"]\n  },\n  blocking_issues: [\n    \"WF05 did not mark the delivery as ready for review.\"\n  ],\n  recommendation: \"block\",\n  ready_for_delivery: false,\n  human_validation_required: true\n}\n}}",
              "type": "object"
            },
            {
              "id": "a7223486-d42c-4c1b-ba35-655ee854dd40",
              "name": "next_recommended_workflow",
              "value": "WF07 - Industrial Report",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        544
      ],
      "id": "4e83bf2f-0037-4ed2-b089-3ff7f3fa5587",
      "name": "Set - Blocked AI Review Output"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set - Prepare Review Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Prepare Review Context": {
      "main": [
        [
          {
            "node": "IF - Ready For AI Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ready For AI Review": {
      "main": [
        [
          {
            "node": "AI Agent - AI Reviewer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Blocked AI Review Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - AI Reviewer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - AI Reviewer": {
      "main": [
        [
          {
            "node": "Code - Normalize Review Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Review Output": {
      "main": [
        [
          {
            "node": "Set - AI Review Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "341cfb9e-e8e3-43ee-a1a8-6c55923715c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a324427967101c0cf98084651f92c771dbd4ff565d19d67925a4520985aaffb2"
  },
  "id": "IIE2QGUSd1IImpRT",
  "tags": []
}