workflows/Decentralized system01/WF07 - Industrial Report.json
{
  "name": "WF07 - Industrial Report",
  "nodes": [
    {
      "parameters": {},
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69a47339-859f-4ccb-8f54-5133f362bd18",
              "name": "analysis_scope",
              "value": "industrial_report",
              "type": "string"
            },
            {
              "id": "4f29fc9a-c694-4d99-bdd9-023ded987ca4",
              "name": "report_context",
              "value": "={{`Project: ${$json.project}\nWork item ID: ${$json.work_item_id}\nTitle: ${$json.title}\n\nEvent type:\n${$json.event_type}\n\nRequirement analysis:\n${JSON.stringify($json.wf01_requirement_analysis || {}, null, 2)}\n\nTechnical breakdown:\n${JSON.stringify($json.wf02_technical_breakdown || {}, null, 2)}\n\nCode assistance:\n${JSON.stringify($json.wf03_code_assistance || {}, null, 2)}\n\nQA tests:\n${JSON.stringify($json.wf04_qa_tests || {}, null, 2)}\n\nRepository update:\n${JSON.stringify($json.wf08_repository_update || {}, null, 2)}\n\nCI/CD:\n${JSON.stringify($json.wf05_ci_cd || {}, null, 2)}\n\nAI Review:\n${JSON.stringify($json.wf06_ai_review || {}, null, 2)}`}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "917f8963-dbf1-4205-9077-d0d83320dcb2",
      "name": "Set - Prepare Report Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a full industrial report of the AI software factory execution.\n\nThe report must summarize all stages and provide a final delivery status.\n\nReturn ONLY valid JSON with this structure:\n\n{\n  \"wf07_industrial_report\": {\n    \"summary\": {\n      \"project\": \"\",\n      \"work_item_id\": \"\",\n      \"title\": \"\",\n      \"event_type\": \"\"\n    },\n    \"pipeline_overview\": {\n      \"requirement_analysis\": \"completed | blocked\",\n      \"technical_breakdown\": \"completed | blocked\",\n      \"code_assistance\": \"completed | blocked\",\n      \"qa_tests\": \"completed | blocked\",\n      \"repository_update\": \"completed | blocked\",\n      \"ci_cd\": \"success | failed | blocked\",\n      \"ai_review\": \"approved | warning | rejected\"\n    },\n    \"key_outputs\": {\n      \"files_generated\": [],\n      \"tests_generated\": [],\n      \"commands_executed\": []\n    },\n    \"issues_detected\": [],\n    \"final_status\": \"ready | needs_changes | blocked\",\n    \"delivery_readiness\": true,\n    \"recommendation\": \"deliver | improve | stop\",\n    \"traceability\": {\n      \"has_requirement\": true,\n      \"has_tests\": true,\n      \"has_ci_cd\": true,\n      \"has_review\": true\n    }\n  }\n}\n\nReport context:\n{{$json.report_context}}",
        "options": {
          "systemMessage": "You are an industrial software reporting system.\n\nYour role is to generate a complete, structured report of an AI software factory execution.\n\nThe report must be:\n- clear\n- structured\n- factual\n- traceable\n\nReturn ONLY valid JSON. No markdown. No explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        352
      ],
      "id": "0867d03f-dceb-450e-a08d-527d7188adad",
      "name": "AI Agent - Industrial Reporter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        688,
        576
      ],
      "id": "bd4619ae-1ec6-4c18-aa63-0498b2931cc6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Qb3hMgLKJ6BfF5wu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const originalInput = $('Set - Prepare Report Context').item.json;\nconst current = $input.item.json;\n\nlet aiOutput =\n  current.output ||\n  current.text ||\n  current.message ||\n  current.content ||\n  current.data ||\n  current;\n\nif (typeof aiOutput === 'string') {\n  aiOutput = aiOutput\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  try {\n    aiOutput = JSON.parse(aiOutput);\n  } catch (error) {\n    aiOutput = {\n      wf07_industrial_report: {\n        summary: {\n          project: originalInput.project || '',\n          work_item_id: originalInput.work_item_id || '',\n          title: originalInput.title || '',\n          event_type: originalInput.event_type || ''\n        },\n        pipeline_overview: {},\n        key_outputs: {},\n        issues_detected: [\"Invalid JSON generated by reporter\"],\n        final_status: \"blocked\",\n        delivery_readiness: false,\n        recommendation: \"stop\",\n        traceability: {\n          has_requirement: false,\n          has_tests: false,\n          has_ci_cd: false,\n          has_review: false\n        }\n      }\n    };\n  }\n}\n\nreturn {\n  json: {\n    ...originalInput,\n    wf07_industrial_report: aiOutput.wf07_industrial_report || aiOutput,\n    wf07_status: \"completed\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        352
      ],
      "id": "a5a05420-3496-43a8-94a3-b1360c5faeb3",
      "name": "Code - Normalize Report"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efc70f94-ff87-43ba-90e9-52fd7ed0841e",
              "name": "final_output",
              "value": "={{$json.wf07_industrial_report}}",
              "type": "object"
            },
            {
              "id": "f48eb4f4-03be-4166-9365-18a0b9ae9ffe",
              "name": "workflow_completed",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "92089563-c940-4b11-81b3-81a7b892a72b",
              "name": "report_generated_at",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        352
      ],
      "id": "8d019d1c-66b0-42e7-b399-18155c9ec01a",
      "name": "Set - Final Report Output"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set - Prepare Report Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Prepare Report Context": {
      "main": [
        [
          {
            "node": "AI Agent - Industrial Reporter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Industrial Reporter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Industrial Reporter": {
      "main": [
        [
          {
            "node": "Code - Normalize Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Report": {
      "main": [
        [
          {
            "node": "Set - Final Report Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "68997b2e-48c1-40d2-8a28-1a6b924ab207",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a324427967101c0cf98084651f92c771dbd4ff565d19d67925a4520985aaffb2"
  },
  "id": "6qkY2Y5OIowfu9WA",
  "tags": []
}